<!--<div class="gt-main-menu-wrapper" id="gt-main-menu-wrapper">-->
    <!--<nav class="gt-main-menu container test1">-->
        <!--<div class="gt-main-menu-inner test">-->

                <!--<a class = "gt-logo" href="/"><img src="./img/logo_white.svg" alt="GoToTrip"></a>-->

        <!--</div>-->



        <!--<ul id = "gt-main-menu">-->
            <!--<li><a href=".#">Страны мира</a></li>-->
            <!--<li><a href=".#">Путеводитель</a></li>-->
            <!--<li><a href=".#">Новости</a></li>-->
            <!--<li><a href=".#">Подборки</a></li>-->
            <!--<li><a href=".#">Видео</a></li>-->
            <!--<li><a href=".#">Публикации</a></li>-->
            <!--<li class ="gt-enter"><span>Вход</span></li>-->
            <!--<li><span class="gt-search"></span></li>-->

        <!--</ul>-->

    <!--</nav>-->
<!--</div>-->

<!--<div class="gt-mobile-menu gt-open">-->
<!--<div class="gt-mobile-menu-inner">-->
<!--<span class="gt-search" ></span>-->
<!--<a class = "gt-logo" href="/"><img src="./img/logo_white.svg" alt="GoToTrip"></a>-->


<!--</div>-->
<!--<ul id = "gt-mobile-menu">-->
<!--<li><a href=".#">Страны мира</a></li>-->
<!--<li><a href=".#">Путеводитель</a></li>-->
<!--<li><a href=".#">Новости</a></li>-->
<!--<li><a href=".#">Подборки</a></li>-->
<!--<li><a href=".#">Видео</a></li>-->
<!--<li><a href=".#">Публикации</a></li>-->
<!--<li class="gt-enter"><span>Вход</span></li>-->


<!--</ul>-->

<!--</div>-->
<header class="header" style="height: 8rem;">
    <div class="header__inner container-fluid">
        <div class="header__content">
            <div class="header__top">
                <button type="button" role="button" class="header__mobile-btn lines-button x2"><span class="lines"></span></button>
                <div class="header__mobile-menu" style="display: none;">
                    <div class="header__mobile-menu-inner">
                        <nav id="main-menu_3" class="main-menu main-menu_mobile-menu">

                            <ul class="main-menu__list">
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-maps" class="main-menu__link">Карта</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-about" class="main-menu__link">Про нас</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-newspaper" class="main-menu__link">Gulliver Times</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-gallery" class="main-menu__link">Галерея</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-contact" class="main-menu__link">Контакти</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-rent" class="main-menu__link">Оренда</a></li>
                            </ul>
                            <ul class="main-menu__list">
                                <li class="main-menu__item active"><a href="https://gullivercenter.com/trc-shops" class="main-menu__link">Магазини</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-entertainments" class="main-menu__link">Розваги</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-services" class="main-menu__link">Послуги</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-restaurants" class="main-menu__link">Ресторани</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-news" class="main-menu__link">Новини</a></li>
                                <li class="main-menu__item "><a href="https://gullivercenter.com/trc-discounts" class="main-menu__link">Акції</a></li>
                            </ul>
                        </nav>


                        <form id="w0" class="search-form search-form_mobile-menu" action="https://gullivercenter.com/trc-search" method="get">
                            <button class="search-form__btn" type="submit"><span><i class="g-icon g-icon_19"></i></span></button>

                            <div class="search-form__group"><span class="search-form__input">
        <div class="form-group field-search-str required">
<input type="text" id="search-str" class="input-search" name="str" autocomplete="off" placeholder="Пошук" aria-required="true">
</div>       </span></div>
                        </form>                        <div class="switch switch_vertical switch_mobile-menu">
                        <input id="radio-c" type="radio" name="second-switch-mob" checked="checked" value="/">
                        <label for="radio-c">ТРЦ</label>
                        <input id="radio-d" type="radio" name="second-switch-mob" value="/bc">
                        <label for="radio-d">БЦ</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
                    </div>

                        <div class="header__mobile-menu-lang">
                            <ul class="lang-list lang-list_mobile-menu">
                                <li class="lang-list__item "><a href="https://gullivercenter.com/ru/trc-shops" class="lang-select__link">RU</a></li>
                                <li class="lang-list__item "><a href="https://gullivercenter.com/en/trc-shops" class="lang-select__link">EN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__logo"><a href="/" class="logo"><img src="/img/logo-new.png?v=1" alt="" class="logo__img"></a></div>
                <div class="header__top-menu">
                    <nav id="main-menu-top_1" class="main-menu main-menu_top">
                        <ul class="main-menu__list">
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-maps" class="main-menu__link">Карта</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-about" class="main-menu__link">Про нас</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-newspaper" class="main-menu__link">Gulliver Times</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-gallery" class="main-menu__link">Галерея</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-contact" class="main-menu__link">Контакти</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-rent" class="main-menu__link">Оренда</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__top-status"><span class="header__status-text">Відкрито зараз</span></div>
                <div class="header__top-social">
                    <ul class="social-list">
                        <li class="social-list__item"><a href="https://www.facebook.com/gulliver.kiev/" class="social-list__link" rel="nofollow" target="_blank"><i class="g-icon g-icon_4"></i></a></li>
                        <li class="social-list__item"><a href="https://www.instagram.com/gulliver.kiev/" class="social-list__link" rel="nofollow" target="_blank"><i class="g-icon g-icon_2"></i></a></li>
                        <li class="social-list__item"><a href="https://www.youtube.com/channel/UCh50wXh-vde8KIr0mQthKQA" class="social-list__link" rel="nofollow" target="_blank"><i class="g-icon g-icon_1"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="header__bottom">
                <div class="header__bottom-menu">
                    <nav id="main-menu_1" class="main-menur">
                        <ul class="main-menu__list">
                            <li class="main-menu__item active"><a href="https://gullivercenter.com/trc-shops" class="main-menu__link">Магазини</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-entertainments" class="main-menu__link">Розваги</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-services" class="main-menu__link">Послуги</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-restaurants" class="main-menu__link">Ресторани</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-news" class="main-menu__link">Новини</a></li>
                            <li class="main-menu__item "><a href="https://gullivercenter.com/trc-discounts" class="main-menu__link">Акції</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__bottom-search">
                    <!--TODO-Bizon link на форму поиска-->


                    <form id="search-form" action="https://gullivercenter.com/trc-search" method="get">        <div class="form-group field-searchForm required">
                        <input type="text" id="searchForm" class="searching_pole" name="str" aria-required="true">
                    </div>        <a href="#" class="btn btn_search"><span><i class="g-icon g-icon_19"></i></span></a><!--TODO-Teddygod не ставить onclick-->
                    </form>
                </div>
                <div class="header__bottom-lang">
                    <div id="lang-select_1" class="lang-select">
                        <div class="lang-select__item"><a class="lang-select__link">UA</a></div>
                        <ul tabindex="1" class="lang-list" style="">
                            <li class="lang-list__item"><a href="https://gullivercenter.com/ru/trc-shops" class="lang-select__link">RU</a></li>
                            <li class="lang-list__item"><a href="https://gullivercenter.com/en/trc-shops" class="lang-select__link">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>