<div class="gt-publication ">
    <div class="gt-publication-inner">
        <div class="gt-publication-img gt-img-holder-abs">
            <img src="./img/_pages/piramida.png" alt="piramida">
        </div>
        <div class="gt-publication-preview">
            <p class="gt-publication-preview-header">Туристические места для наблюдения за животными</p>
            <p>Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало.</p>
            <div class="gt-publication-user">

            </div>
        </div>

    </div>
</div>