@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.gt-country-info iframe {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.gt-country-info-inner {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.gt-country-info-inner:first-of-type {
  height: 300px;
  margin-bottom: 30px;
}
.gt-country-info-inner:first-of-type > div {
  width: 50%;
  height: 100%;
  padding: 0 15px;
}
.gt-country-info-inner:first-of-type > div:first-of-type {
  padding-left: 0;
}
.gt-country-info-inner:first-of-type > div:last-of-type {
  padding-right: 0;
}
.gt-country-info-weather {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.gt-country-info-weather.cloudy {
  background-image: url("../img/weather/bg/cloudy.png");
}
.gt-country-info-weather:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.gt-country-info-globe {
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
.gt-country-info-globe img {
  position: absolute;
  height: 200px;
  width: 200px;
  max-width: 200px;
  left: 30px;
  top: 50%;
  margin-top: -100px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-country-info-globe:hover img {
  height: 300px;
  width: 300px;
  max-width: 300px;
  left: 0;
  margin-top: -200px;
}
.gt-country-info-forecast {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 15px 15px;
  align-self: stretch;
  flex-direction: column;
  align-content: stretch;
}
.gt-country-info-forecast > div {
  padding: 4px 0;
}
.gt-country-info-forecast > div:first-of-type {
  padding-top: 0;
}
.gt-country-info-forecast > div:last-of-type {
  padding-bottom: 0;
}
.gt-country-info-forecast div {
  flex-direction: row;
  justify-content: space-between;
}
.gt-country-info-forecast div.gt-country-info-forecast-icon {
  flex-direction: column;
  justify-content: center;
}
.gt-country-info-forecast-deg:after {
  content: '\00B0';
}
.gt-country-info-forecast-big {
  font-size: 30px;
  font-weight: 500;
}
.gt-country-info-forecast-icon {
  width: 55px;
  justify-content: space-between;
  text-align: center;
}
.gt-country-info-forecast-icon svg {
  fill: #fff;
}
.gt-country-info-forecast-icon * {
  text-align: center;
  justify-content: center;
}
.gt-country-info-forecast .gt-curr-time {
  display: flex;
  flex-direction: column;
}
.gt-country-info-forecast .gt-curr-time * {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.gt-country-info-gov {
  padding: 0 15px;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.gt-country-info-gov img {
  display: flex;
  height: 100px;
  width: auto;
  margin: auto 0;
}
.gt-country-info-text {
  width: 60%;
  flex-direction: column;
}
.gt-country-info-text-inner {
  flex-direction: row;
  padding: 5px 15px;
}
.gt-country-info-text-inner:first-of-type {
  padding-top: 0;
}
.gt-country-info-text-inner:last-of-type {
  padding-bottom: 0;
}
.gt-country-info-text-inner p {
  width: 60%;
}
.gt-country-info-text-inner p:first-of-type {
  width: 40%;
  color: #000;
}
