<div class="gt-share gt-margin ">
    <p class="gt-share-header">
        Поделиться с друзьями
    </p>
    <ul class="gt-share-list-opt">
        <li class="gt-share-list-opt-facebook js-share-facebook">
            <i class="fab fa-facebook-f"></i>
        </li>
        <li class="gt-share-list-opt-twitter js-share-twitter">
            <i class="fab fa-twitter"></i>
        </li>
        <li class="gt-share-list-opt-google js-share-google">
            <i class="fab fa-google-plus-g"></i>
        </li>
        <li class="gt-share-list-opt-viber js-share-viber">
            <i class="fab fa-viber"></i>
        </li>
        <li class="gt-share-list-opt-telegram js-share-telegram">
            <i class="fab fa-telegram-plane"></i>
        </li>
    </ul>
</div>