<div class="gt-video gt-video-opened gt-margin test" data-youtube = "W0LHTWG-UmQ">
    <div class="gt-video-inner gt-video-width">
        <div class="gt-video-img">
            <div class = "gt-img-holder-abs gt-shadow-100">
                <img src="./img/video-bg.png" alt="abs">
            </div>
        </div>
    </div>
    <div class="gt-video-switch-wrapper test">
        <div class="gt-video-text">
                <a href="#" ><span class="gt-a-video">Видео</span></a>
                <p>Тестовое название видео</p>
                <p>Тестовое название видео</p>
                <p>Тестовое название видео</p>
        </div>
        <span class="gt-video-switch"></span>
    </div>
</div>