.gt-video {
  height: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.gt-video-inner {
  width: 100%;
}
.gt-video-img {
  width: 100%;
}
.gt-video-text {
  padding: 30px 25px;
  color: #fff;
  width: 100%;
  height: auto;
  align-items: flex-end;
}
.gt-video-text a {
  max-width: 5em;
}
.gt-video-text p {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}
.gt-video-switch {
  position: absolute;
  height: 74px;
  width: 74px;
  background: url("../img/icons/video_play.svg") no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  bottom: calc(50% - 37px);
  left: calc(50% - 37px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-video-switch-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-video-switch.gt-video-on {
  background: url("../img/icons/video_pause.png") no-repeat 50% 50%;
  background-size: contain;
  height: 50px;
  width: 50px;
  bottom: 20px;
  left: 20px;
}
.gt-video .gt-img-holder {
  width: 100%;
}
.gt-video-foreground,
.gt-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.gt-video-width.gt-video-foreground {
  height: 300%;
  top: -100%;
}
.gt-video-height.gt-video-foreground {
  height: 100%;
}
@media screen and (max-width: 1230px) {
  .gt-video {
    height: 330px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-video {
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .gt-video {
    height: 213px;
  }
  .gt-video-switch {
    height: 50px;
    width: 50px;
    bottom: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  .gt-video-switch.gt-video-on {
    height: 35px;
    width: 35px;
    bottom: 10px;
    left: 10px;
  }
}
@media screen and (max-width: 666px) {
  .gt-video {
    height: 150px;
  }
}
@media screen and (max-width: 479px) {
  .gt-video {
    height: 120px;
  }
}
