.gt-breadcrumbs {
  font-size: 20px;
  padding-top: 95px;
  align-items: flex-start;
  color: #fff;
}
.gt-breadcrumbs ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.gt-breadcrumbs ul li a {
  display: inline-flex;
  padding-right: 1.2em;
  position: relative;
}
.gt-breadcrumbs ul li a:after {
  position: absolute;
  cursor: default;
  right: .25em;
  bottom: .25em;
  content: '';
  height: .65em;
  display: flex;
  width: .65em;
  background: url("../img/icons/arrow_right_white.svg") no-repeat 50% 50%;
}
.gt-breadcrumbs ul li:last-child a:after {
  display: none;
}
