<div class="gt-video  gt-margin" data-youtube = "COwlqqErDbY">
    <div class="gt-video-inner gt-video-width">
        <div class="gt-video-img">
            <div class = "gt-img-holder gt-shadow-100" style="background-image: url('../img/video_bg.png')"></div>
        </div>
    </div>
    <div class="gt-video-switch-wrapper">
        <div class="gt-video-text">
            <div class="container">
                <a href=".#" ><span class="gt-a-video">Видео</span></a>
                <p>Тестовое название видео</p>
            </div>
        </div>
        <span class="gt-video-switch"></span>
    </div>
</div>
