<div class="gt-header-container container gt-margin">
    <h2>Транспорт Франции</h2>
</div>
<div class="gt-tabs gt-tabs-broad container gt-margin">
    <div class="gt-tabs-button-holder">
        <div class="gt-tabs-button">
            <span>Авиасообщение</span>
        </div>
        <div class="gt-tabs-button">
            <span>Железные дороги</span>
        </div>
        <div class="gt-tabs-button">
            <span>Автобусы</span>
        </div>
        <div class="gt-tabs-button">
            <span>Общественный транспорт</span>
        </div>
        <div class="gt-tabs-button">
            <span>Такси </span>
        </div>
        <div class="gt-tabs-button">
            <span>Морской транспорт</span>
        </div>
    </div>
    <div class="gt-main-holder">
        <div class="gt-tabs-main" >
            <div class="gt-tabs-main-img gt-img-holder">
                <img src="./img/tab_slider/taxi.png" alt="">
            </div>
            <div class="gt-tabs-main-text gt-inner-scroll gt-box-shadow">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview gt-inner-scroll-text">
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.                    </div>
                </div>
            </div>
        </div>
        <div class="gt-tabs-main">
            <div class="gt-tabs-main-img gt-img-holder">
                <img src="./img/tab_slider/taxi2.png" alt="">
            </div>
            <div class="gt-tabs-main-text gt-inner-scroll gt-box-shadow">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview gt-inner-scroll-text">
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.                    </div>
                </div>
            </div>
        </div>
        <div class="gt-tabs-main">
            <div class="gt-tabs-main-img gt-img-holder">
                <img src="./img/tab_slider/taxi3.png" alt="">
            </div>
            <div class="gt-tabs-main-text gt-inner-scroll gt-box-shadow">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview gt-inner-scroll-text">
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.
                    </div>
                </div>
            </div>
        </div>
        <div class="gt-tabs-main" >
            <div class="gt-tabs-main-img gt-img-holder">
                <img src="./img/tab_slider/taxi4.png" alt="">
            </div>
            <div class="gt-tabs-main-text gt-inner-scroll gt-box-shadow">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview gt-inner-scroll-text">
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.                    </div>
                </div>
            </div>
        </div>
        <div class="gt-tabs-main">
            <div class="gt-tabs-main-img gt-img-holder">
                <img src="./img/tab_slider/taxi.png" alt="">
            </div>
            <div class="gt-tabs-main-text gt-inner-scroll gt-box-shadow">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview gt-inner-scroll-text">
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.                    </div>
                </div>
            </div>
        </div>
        <div class="gt-tabs-main">
            <div class="gt-tabs-main-img gt-img-holder">
                <img src="./img/tab_slider/taxi2.png" alt="">
            </div>
            <div class="gt-tabs-main-text gt-inner-scroll gt-box-shadow">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview gt-inner-scroll-text gt-box-shadow">
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.
                        Довольно популярным видом транспорта во Франции, особенно в крупных городах, является такси. Заказать его можно на специальных стоянках, по телефону или остановить на улицах города в любое время суток. Зеленая подсветка соответствующей шашки, установленной на крыше машины, означает, что такси свободно, красная – занято. Плата за проезд автоматически отмечается счетчиком. У такси существуют 2 тарифа на будние дни и выходные. Тариф «А» составляет 0,61 евро за километр, он работает в будние дни до 7 вечера. Тариф «Б» – 3 евро за километр, его действие начинается после 7 вечера, а также в выходные и праздничные дни. За посадку также нужно будет заплатить 2,5 евро, за багаж – по 1 евро за каждый чемодан.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>