<div class="gt-news-img">
    <div class = "gt-img-holder-abs gt-shadow-100">
        <img src="./img/news/news-1.png" alt="alt">
    </div>
</div>


<div class="gt-news-text">
    <div class="gt-news-text-bottom">
        <div class="gt-news-text-link-header">
            <p>Публикации</p>
                <i class="fa fa-eye"></i>
                <span>215</span>
        </div>
        <div class="gt-news-text-header">
            <a href="#">Заголовок статьи</a>
        </div>
    </div>
</div>
 