<div class="gt-news-prew-wide gt-video-label">
    <div class="gt-img-holder" style="background-image: url('../img/bottom_slider/bottom-slider-3.png')">
    </div>
    <div class="gt-news-prew-wide-inner">

        <div class="gt-news-prew-wide-header">
            <a href="/new-single-page.html"">
                Заголовок семнадцатой статьи в две строки
            </a>
        </div>
        <div class="gt-news-prew-wide-link-header">
            <span>32.03.2018</span>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span>215</span>
        </div>
        <div class="gt-news-prew-wide-text">
            <a class="text" href="#">2Краткое описание статьи. Пару строк.
                Отлично подходит три строки но
                лучше не рвать предложениеКраткое описание статьи. Пару строк.
                Отлично подходит три строки но
                лучше не рвать предложениеКраткое описание статьи. Пару строк.
                Отлично подходит три строки но
                лучше не рвать предложениеКраткое описание статьи. Пару строк.
            </a>
        </div>
    </div>
</div>

