<div class="gt-news-plane">
        <div class="gt-news-text">
            <div class="gt-news-text-inner">
                <h2 class="gt-black">Популярные места</h2>
                <p>Nulla vitae dictum turpis. Cum sociis
                    natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus
                    mus. Ut dapibus turpis sed lorem
                    varius, id posuere.</p>
                <a href="#">
                    <em class="gt-btn gt-btn-45 gt-btn-white">Подробнее</em>
                </a>
            </div>
        </div>
    </div>