<div class="gt-news-img">
    <div class="gt-img-holder-abs">
        <img src="./img/news/news-5.png" alt="alt">
    </div>
</div>
<div class="gt-news-text">
    <div class="gt-news-text-link-header">
        <span>32.03.2018</span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>215</span>
    </div>
    <p><span class="gt-a-news">Новости</span></p>
    <div class="gt-news-text-header gt-news-cut">
        <a class="header" href=".#">
            Заголовок
        </a>
        <a class="text" href="#">
            2 Краткое описание статьи. Пару строк. Отлично подходит три строки но лучше не рвать предложение || Краткое
            описание || статьи. Пару строк. Отлично подходит три строки но лучше не рвать предложениеКраткое описание
            статьи. Пару строк. Отлично подходит три строки но лучше не рвать предложениеКраткое описание статьи. Пару
            строк.
            2 Краткое описание статьи. Пару строк. Отлично подходит три строки но лучше не рвать предложение || Краткое
            описание || статьи. Пару строк. Отлично подходит три строки но лучше не рвать предложениеКраткое описание
            статьи. Пару строк. Отлично подходит три строки но лучше не рвать предложениеКраткое описание статьи. Пару
            строк.
        </a>
    </div>
</div>