<div class = "gt-img-holder" style="background-image: url('../img/news/news-5.png')">
</div>
<div class="gt-news-text">
    <div class="gt-news-text-link-header">
        <span>32.03.2018</span>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>215</span>
    </div>
    <div class="gt-news-text-header">
        <a  href=".#"><span class="gt-a-news">Новости</span></a>

        <a class="header" href=".#">
            Заголовок статьи
        </a>
        <a class="text" href="#">2Краткое описание статьи. Пару строк.
            Отлично подходит три строки но
            лучше не рвать предложениеКраткое описание статьи. Пару строк.
Отлично подходит три строки но
            лучше не рвать предложениеКраткое описание статьи. Пару строк.
Отлично подходит три строки но
            лучше не рвать предложениеКраткое описание статьи. Пару строк.

        </a>
    </div>
</div>