<div class="gt-news-img">
    <div class="gt-img-holder-abs gt-shadow-100">
        <img src="./img/news/news-4.png" alt="alt">
    </div>
</div>
<div class="gt-news-text">
    <div class="gt-news-text-top">
        <div class="gt-news-text-date-header">
            <p>28.11.2017</p>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <span>215</span>
        </div>
    </div>
    <div class="gt-news-text-bottom">
        <div class="gt-news-text-link-header">
            <p class="gt-a-news">Новости</p>
        </div>
        <div class="gt-news-text-header">
            <a href="#">Заголовок статьи</a>
        </div>
    </div>
</div>