<div class="gt-news-img">
    <a href=".#" class="gt-img-holder-abs">
        <img src="./img/news/news-2.png" alt="alt">
    </a>
</div>
<div class="gt-news-text">
    <div class="gt-news-text-link-header">
        <p>Публикации</p>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>215</span>
    </div>
    <div class="gt-news-text-header gt-news-cut">
        <a class="header" href=".#">
            Заголовок Заголовок Заголовок Заголовок
        </a>
        <a class="text" href="#"> 2 Краткое описание статьи. Пару строк. Отлично подходит три строки но лучше не рвать
            предложение || Краткое описание || статьи. Пару строк. Отлично подходит три строки но лучше не рвать
            предложениеКраткое описание статьи. Пару строк. Отлично подходит три строки но лучше не рвать
            предложениеКраткое описание статьи. Пару строк. 2 Краткое описание статьи. Пару строк. Отлично подходит три
            строки но лучше не рвать предложение || Краткое описание || статьи. Пару строк. Отлично подходит три строки
            но лучше не рвать предложениеКраткое описание статьи. Пару строк. Отлично подходит три строки но лучше не
            рвать предложениеКраткое описание статьи. Пару строк. </a>
    </div>
</div>