<div class="container gt-news gt-margin">
    <div class="gt-news-inner gt-margin">
        <div class="gt-news-big">
            //= ./_new-big
        </div>
        <div class="gt-news-small">
            //= _publish-small
        </div>
        <div class="gt-news-small">
            //= _publish-small
        </div>
    </div>
    <div class="gt-news-inner gt-margin">
        <div class="gt-news-small gt-sm-order-2">
               //= _new-prew
               //= _new-prew
               //= _new-prew
               //= _new-prew
               //= _new-prew
               <!-- TODO если блоков больше - ошибка! - исправить -->
        </div>
        <div class="gt-news-big">
                //= ./_new-big-date
        </div>
        <div class="gt-news-small gt-sm-order-2">
                //= ./_new-small
        </div>
    </div>
</div>
