<div class="container gt-news">
    <div class="gt-news-inner gt-margin">
        <div class="gt-news-big ">
            <div class = "gt-img-holder gt-shadow-100" style="background-image: url('../img/news/news_1.png')">
            </div>
            <div class="gt-news-text">
                <div class="gt-news-text-bottom">
                    <div class="gt-news-text-link-header">
                        <a href="#">Публикации</a>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>215</span>
                    </div>
                    <div class="gt-news-text-header">
                        <a href="#">Заголовок статьи</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="gt-news-small">
            <div class = "gt-img-holder" style="background-image: url('../img/news/news_2.png')">

            </div>
            <div class="gt-news-text">
                <div class="gt-news-text-link-header">
                    <a href="#">Публикации</a>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>215</span>
                </div>
                <div class="gt-news-text-header">
                    <a class="header" href="#">
                        Заголовок статьи
                    </a>
                    <a class="text" href="#">обрезаю на клиенте до 160 знаков, но лучше на беке резать. 0_Краткое описание статьи. Пару строк.
                        Отлично подходит три строки но
                        лучше не рвать предложениеКраткое описание статьи. Пару строк.

                    </a>
                </div>
            </div>

        </div>
        <div class="gt-news-small">
            <div class = "gt-img-holder" style="background-image: url('../img/news/news_3.png')"></div>
            <div class="gt-news-text">
                <div class="gt-news-text-link-header">
                    <a href="#">Публикации</a>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>215</span>
                </div>
                <div class="gt-news-text-header">
                    <a class="header" href="#">
                        Заголовок статьи
                    </a>
                    <a class="text" href="#">1 Краткое описание статьи. Пару строк.
                        Отлично подходит три строки но
                        лучше не рвать предложениеКраткое описание статьи. Пару строк.

                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="gt-news-inner gt-margin">
        <div class="gt-news-small gt-sm-order-2">
            <a href="#" class="gt-news-prew">
                <div class = "gt-img-holder" style="background-image: url('../img/news/prew_news_1.png')"></div>
                <div class="gt-news-prew-text">
                    <p>Заголовок короткой статьи в три строки плюс дата</p>
                    <p>28.07.2007</p>
                </div>
            </a>
            <a href="#" class="gt-news-prew">
                <div class = "gt-img-holder" style="background-image: url('../img/news/prew_news_2.png')"></div>

                <div class="gt-news-prew-text">
                    <p>Заголовок короткой статьи в три строки плюс дата</p>
                    <p>28.07.2007</p>
                </div>
            </a>
            <a href="#" class="gt-news-prew">
                <div class = "gt-img-holder" style="background-image: url('../img/news/prew_news_3.png')"></div>

                <div class="gt-news-prew-text">
                    <p>Заголовок короткой статьи в три строки плюс дата</p>
                    <p>28.07.2007</p>
                </div>
            </a>
            <a href="#" class="gt-news-prew">
                <div class = "gt-img-holder" style="background-image: url('../img/news/prew_news_4.png')"></div>

                <div class="gt-news-prew-text">
                    <p>Заголовок короткой статьи в три строки плюс датаЗаголовок короткой статьи в три строки плюс датаЗаголовок короткой статьи в три строки плюс дата</p>
                    <p>28.07.2007</p>
                </div>
            </a>
            <a href="#" class="gt-news-prew">
                <div class = "gt-img-holder" style="background-image: url('../img/news/prew_news_5.png')"></div>

                <div class="gt-news-prew-text">
                    <p>Заголовок короткой статьи в три строки плюс дата</p>
                    <p>28.07.2007</p>
                </div>
            </a>

        </div>
        <div class="gt-news-big">
            <div class = "gt-img-holder gt-shadow-100" style="background-image: url('../img/news/news_4.png')">

            </div>
            <div class="gt-news-text">
                <div class="gt-news-text-top">
                    <div class="gt-news-text-date-header">
                        <p>28.11.2017</p>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <span>215</span>
                    </div>
                </div>


                <div class="gt-news-text-bottom">
                    <div class="gt-news-text-link-header">
                        <a class="gt-a-news" href="#">Новости</a>

                    </div>
                    <div class="gt-news-text-header">
                        <a href="#">Заголовок статьи</a>
                    </div>
                </div>


            </div>

        </div>
        <div class="gt-news-small gt-sm-order-2">
            <div class = "gt-img-holder" style="background-image: url('../img/news/news_5.png')">
            </div>
            <div class="gt-news-text">
                <div class="gt-news-text-link-header">
                    <a href="#">Публикации</a>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>215</span>
                </div>
                <div class="gt-news-text-header">
                    <a class="header" href="#">
                        Заголовок статьи
                    </a>
                    <a class="text" href="#">2Краткое описание статьи. Пару строк.
                        Отлично подходит три строки но
                        лучше не рвать предложениеКраткое описание статьи. Пару строк.
Отлично подходит три строки но
                        лучше не рвать предложениеКраткое описание статьи. Пару строк.
Отлично подходит три строки но
                        лучше не рвать предложениеКраткое описание статьи. Пару строк.

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>