<div class="container gt-news gt-margin">
        <div class="gt-news-inner gt-margin">
                <div class="gt-news-small gt-news-small-half">
                      //= _new-small-half
                </div>
                
                <div class="gt-news-small gt-news-small-half gt-video-label">
                      //= _new-small-half
                </div>
                
                <div class="gt-news-small gt-news-small-half">
                      //= _new-small-half
                </div>
                
                <div class="gt-news-small gt-news-small-half">
                      //= _new-small-half
                </div>
                 
            </div>
    </div>
    