.gt-news {
  padding: 0;
  color: #363636;
}
.gt-news-inner {
  flex-wrap: wrap;
}
.gt-news-inner div {
  flex-direction: column;
  overflow: hidden;
}
.gt-news-inner i {
  padding-left: 20px;
  padding-right: 5px;
}
.gt-news-inner span {
  font-size: 12px;
}
.gt-news-inner .gt-img-holder {
  height: 100%;
  width: 100%;
}
.gt-news-inner:last-of-type {
  margin-bottom: 0;
}
.gt-news-big {
  height: 380px;
  padding: 0 15px;
  width: 50%;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.gt-news-big .gt-news-text {
  height: 100%;
  padding: 0 40px;
  position: absolute;
  top: 0;
  width: calc(100% - 30px);
  flex-direction: column;
}
.gt-news-big .gt-news-text > div {
  width: auto;
  flex-direction: column;
  position: absolute;
}
.gt-news-big .gt-news-text > div div {
  flex-direction: row;
  padding: 5px 0;
}
.gt-news-big .gt-news-text-bottom {
  bottom: 40px;
  height: auto;
}
.gt-news-big .gt-news-text-top {
  font-size: 12px;
  top: 25px;
  height: auto;
}
.gt-news-big .gt-news-text-link-header {
  font-size: 14px;
}
.gt-news-big .gt-news-text-header {
  font-weight: bold;
}
.gt-news-small {
  height: 380px;
  padding: 0 15px;
  width: 25%;
  overflow: hidden;
}
.gt-news-small .gt-news-text {
  height: 50%;
  flex-direction: column;
}
.gt-news-small .gt-news-text-link-header {
  font-size: 14px;
  flex-direction: row;
  height: 2em;
  line-height: 2em;
}
.gt-news-small .gt-news-text-link-header i {
  line-height: 1.8em;
}
.gt-news-small .gt-news-text-header .gt-a-news {
  font-size: 14px;
  margin-bottom: 5px;
}
.gt-news-small .gt-news-text-header .header {
  font-weight: bold;
  height: 4em;
  padding: .5em 0;
}
.gt-news-small .gt-news-text-header .text {
  line-height: 1.5;
  color: #6D6D6D;
}
.gt-news-small .gt-img-holder {
  height: 50%;
}
.gt-news-small .gt-news-prew .gt-img-holder {
  height: 100% !important;
}
.gt-news-small-plane,
.gt-news-small-image {
  position: relative;
}
.gt-news-small-plane .gt-news-text,
.gt-news-small-image .gt-news-text {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-news-small-image {
  position: relative;
}
.gt-news-small-image .gt-news-text {
  color: #fff;
}
.gt-news-small-image .gt-news-text a {
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  align-items: center;
}
.gt-news-small-image .gt-news-text a:first-of-type {
  font-size: 14px;
  font-weight: 300;
  bottom: 100px;
}
.gt-news-small-image .gt-news-text a:last-of-type {
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  bottom: 0;
}
.gt-news-small.gt-news-small-image .gt-img-holder {
  height: 100%;
}
.gt-news-small-plane .gt-news-text-inner {
  margin: auto;
  padding: 0 15px;
}
.gt-news-small-plane h2 {
  font-size: 32px;
  font-weight: bold;
}
.gt-news-small-plane p {
  margin: 30px 0;
}
.gt-news-prew {
  font-size: 14px;
  display: flex;
  align-content: center;
  height: 60px;
  flex-direction: row;
  margin-bottom: 20px;
}
.gt-news-prew:first-child {
  padding-top: 0;
}
.gt-news-prew:last-child {
  margin-bottom: 0;
}
.gt-news-prew .gt-img-holder {
  max-width: 25%;
}
.gt-news-prew-text {
  width: 75%;
  padding: 0 15px;
  align-content: space-around;
  flex-wrap: wrap;
}
.gt-news-prew-text p:first-child {
  color: #363636;
  line-height: 1;
  height: 3em;
  overflow: hidden;
}
.gt-news-prew-text p:last-of-type {
  font-size: 13px;
  position: relative;
  bottom: -0.3em;
  color: #6D6D6D;
}
@media screen and (max-width: 1023px) {
  .gt-news-inner:first-of-type {
    margin-bottom: 0;
  }
  .gt-news-inner > div {
    margin-bottom: 30px;
  }
  .gt-news-inner .gt-img-holder {
    background-position: center top;
  }
  .gt-news-big {
    width: 100%;
    height: 460px;
  }
  .gt-news-small {
    width: 50%;
    height: auto;
  }
  .gt-news-small-plane,
  .gt-news-small-image {
    height: 500px;
  }
  .gt-news-small-plane .gt-img-holder,
  .gt-news-small-image .gt-img-holder {
    height: 100%;
  }
  .gt-news-small .gt-img-holder {
    width: 100%;
    height: 230px;
  }
  .gt-news-small .gt-news-text {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .gt-news-big {
    height: 390px;
  }
  .gt-news-small .gt-img-holder {
    height: 210px;
  }
  .gt-news-small-plane,
  .gt-news-small-image {
    height: 450px;
  }
}
@media screen and (max-width: 666px) {
  .gt-news-big {
    height: 300px;
  }
  .gt-news-big .gt-news-text-bottom {
    bottom: 30px;
  }
  .gt-news-big .gt-news-text-top {
    top: 20px;
  }
  .gt-news-small .gt-img-holder {
    height: 180px;
  }
  .gt-news-small-plane,
  .gt-news-small-image {
    height: 320px;
  }
  .gt-news-small-image .gt-news-text a:last-of-type {
    font-size: 22px;
  }
  .gt-news-small-plane h2 {
    font-size: 24px;
  }
  .gt-news-small-plane a span {
    padding: 6px 15px;
  }
}
@media screen and (max-width: 479px) {
  .gt-news-big {
    height: 220px;
  }
  .gt-news-big .gt-news-text-bottom {
    bottom: 20px;
  }
  .gt-news-big .gt-news-text-top {
    top: 10px;
  }
  .gt-news-small {
    width: 100%;
  }
  .gt-news-small .gt-img-holder {
    height: 220px;
  }
  .gt-news-small.gt-news-small-image,
  .gt-news-small.gt-news-small-plane {
    width: 50%;
  }
  .gt-news-small-plane h2 {
    font-size: 22px;
  }
  .gt-news-small-plane p {
    margin: 20px 0;
    font-size: 14px;
  }
  .gt-news-small-plane a span {
    font-size: 14px;
  }
  .gt-news-small-prew {
    height: 90px;
    font-size: 14px;
  }
}
