<div class="gt-article-wrapper gt-margin">
        <div class="container">
            <div class="gt-article-outer">
                //= ./_article-publish-header
                //= ./_article-full

               //= ../video_block/_video-block
              //= ../share_block/share-block
            </div>
            <div class="gt-article-table-wrapper">
                    //= ./_article-aside-menu-header
                    //= ../news_block/column-page-new-half
                    //= ../news_block/column-page-prew-news
                    //= ../news_block/column-page-new-half
            </div>
        </div>
    </div>
    