<div class="gt-article-wrapper gt-margin">
    <div class="container container-no-padd">


        <div class="gt-article-outer gt-article-outer-option">

            <p class="test">не закончил еще, но изменения будут только по стилям, струкрура останется такой же</p>

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-aside
            //= ../news_block/news-block-aside-aside-aside

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-aside
            //= ../news_block/news-block-aside-aside-aside

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-aside
            //= ../news_block/news-block-aside-aside-aside

            //= ../news_block/news-block-big.html


            //= ../news_block/news-block-aside-aside
            //= ../news_block/news-block-aside-aside-aside


            //= ../read_more/read-more

        </div>
        <div class="gt-article-table-wrapper gt-article-table-wrapper-option">
            <div class="gt-news-prev-big-outer">
                <h2 class="gt-article-table-header">
                    ПОПУЛЯРНЫЕ
                </h2>
                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big
            </div>
            <div class="gt-margin">
                //= ../news_items/_new-aside
            </div>


            <div class="gt-news-prev-big-outer">

                //= ../news_items/_new-prew-big
                //= ../news_items/_new-prew-big

            </div>
            <div class="gt-margin">
                //= ../news_items/_new-aside

            </div>
            <div class="gt-margin">
                //= ../news_items/_new-aside
            </div>
        </div>
    </div>
</div>
