.gt-header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-header.gt-header-scrolled .gt-header-top {
  background: rgba(0, 0, 0, 0.7);
}
.gt-header.gt-open {
  height: 100%;
}
.gt-header.gt-open .gt-header-mobile-menu {
  top: 70px;
}
.gt-header.gt-open .gt-header-top {
  background: #000;
}
.gt-header ul {
  width: 100%;
}
.gt-header span {
  cursor: pointer;
}
.gt-header .container {
  flex-direction: row;
  height: 100%;
}
.gt-header-top {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 80px;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-header-logo {
  align-items: center;
  width: 185px;
  height: 100%;
  min-width: 150px;
}
.gt-header-logo a {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}
.gt-header-logo img {
  width: 100%;
  height: auto;
}
.gt-header-menu {
  width: 100%;
}
.gt-header-menu ul {
  justify-content: flex-end;
  align-items: flex-end;
}
.gt-header-menu ul li {
  padding: 0 15px;
}
.gt-header-menu ul li a {
  display: flex;
  position: relative;
}
.gt-header-menu ul li a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  height: 1px;
  width: 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-header-menu ul li a:hover:after {
  width: 100%;
}
.gt-header-menu ul li:first-child {
  padding-left: 0;
}
.gt-header-menu ul li:last-child {
  padding-right: 0;
}
.gt-header .gt-search {
  width: 1.2em;
  height: 1.2em;
  background: url("../img/search_icon.svg") no-repeat 100% 0;
  background-size: 1.1em 1.1em;
}
.gt-header .gt-search-holder {
  display: none;
  align-items: center;
  justify-content: left;
  height: 100%;
}
.gt-header-mobile-menu {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: -500px;
  width: 100%;
  min-height: calc(100% - 70px);
  height: calc(100% - 70px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-header-mobile-menu ul.container {
  flex-direction: column;
  height: auto;
  padding-bottom: 50px;
  position: relative;
  min-height: calc(100% + 50px);
}
.gt-header-mobile-menu ul.container li {
  height: 45px;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.gt-header-mobile-menu ul.container li a {
  width: 100%;
}
.gt-header-mobile-menu ul.container li:last-of-type {
  border-bottom: none;
}
.gt-header-social-link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-left: -8px;
}
.gt-header-social-link a {
  font-size: 24px;
  align-items: center;
  padding: 0 8px;
}
.gt-header-switch {
  position: relative;
  align-content: center;
  justify-content: right;
  height: 16px;
  width: 30px;
  cursor: pointer;
}
.gt-header-switch-holder {
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.gt-header-switch .line {
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-header-switch .line.line-1 {
  top: 0;
}
.gt-header-switch .line.line-2 {
  top: 50%;
}
.gt-header-switch .line.line-3 {
  top: 100%;
}
.gt-header-switch:hover .line-1,
.gt-header-switch:focus .line-1 {
  transform: translateY(1px);
}
.gt-header-switch:hover .line-3,
.gt-header-switch:focus .line-3 {
  transform: translateY(-1px);
}
.gt-header-switch.gt-open .line-1 {
  transform: translateY(7px) translateX(-2px) rotate(45deg);
}
.gt-header-switch.gt-open .line-2 {
  opacity: 0;
}
.gt-header-switch.gt-open .line-3 {
  transform: translateY(-9px) translateX(-2px) rotate(-45deg);
}
@media screen and (max-width: 1023px) {
  .gt-header-top {
    background: rgba(0, 0, 0, 0.7);
  }
  .gt-header-top .container > div {
    width: 100%;
    height: 100%;
  }
  .gt-header-logo {
    width: 185px;
    align-items: center;
    justify-content: center;
  }
  .gt-header-logo a {
    padding-top: 10px;
    text-align: center;
  }
  .gt-header-logo img {
    width: 150px;
    height: auto;
  }
  .gt-header .gt-search-holder,
  .gt-header-switch-holder {
    display: flex;
  }
  .gt-header-menu {
    display: none;
  }
  .gt-header-mobile-menu {
    width: 100%;
    display: block;
  }
  .gt-header-mobile-menu ul {
    flex-direction: column;
  }
}
.gt-footer {
  background: url("../img/footer_bg.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.gt-footer-copyright {
  margin-top: 35px;
}
.gt-footer-top {
  flex-direction: row;
}
.gt-footer-top > div {
  flex-direction: column;
  padding: 0 15px;
  width: 32%;
}
.gt-footer-top > div:first-of-type {
  padding-left: 0;
}
.gt-footer-top > div:last-of-type {
  padding-right: 0;
}
.gt-footer-top > div.gt-footer-menu {
  width: 18%;
}
.gt-footer-top p {
  line-height: 22px;
}
.gt-footer-top ul {
  height: 100%;
  flex-direction: column;
}
.gt-footer-top ul li {
  margin-bottom: 1.1em;
}
.gt-footer-text a {
  margin-top: 30px;
}
.gt-footer-text a:last-of-type {
  margin-top: 20px;
}
.gt-footer-subscribe {
  position: relative;
}
.gt-footer-subscribe form {
  width: 100%;
  height: 40px;
  position: relative;
  margin: 20px 0 70px;
}
.gt-footer-subscribe form input {
  color: #fff;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #fff;
  line-height: 40px;
  padding-left: .5em;
  padding-right: 50px;
}
.gt-footer-subscribe form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.gt-footer-subscribe form input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.gt-footer-subscribe form input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.gt-footer-subscribe form input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.gt-footer-subscribe form input::placeholder {
  color: #fff;
  opacity: 1;
}
.gt-footer-subscribe form input[type="submit"] {
  display: none;
}
.gt-footer-subscribe form label {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  background: #0057FF url("../img/arrow_right_white.svg") no-repeat 50% 50%;
  background-size: 18px 18px;
  right: 1px;
  top: 1px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-footer-subscribe form label:hover {
  background: #fff url("../img/arrow_right_blue.svg") no-repeat 50% 50%;
  background-size: 18px 18px;
}
.gt-footer-social-link {
  font-size: 30px;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 100%;
}
.gt-footer-social-link ul {
  flex-direction: row;
}
.gt-footer-social-link ul li {
  padding: 0 10px;
  margin-bottom: .5em;
}
.gt-footer-social-link ul li:first-of-type {
  padding-left: 0;
}
.gt-footer-social-link ul li:last-of-type {
  padding-right: 0;
}
@media screen and (max-width: 1023px) {
  .gt-footer {
    font-size: 14px;
    padding-bottom: 80px;
  }
  .gt-footer-copyright {
    text-align: center;
  }
  .gt-footer-top > div {
    width: 50%;
  }
  .gt-footer-top > div.gt-footer-menu {
    display: none;
  }
}
@media screen and (max-width: 666px) {
  .gt-footer-top {
    flex-wrap: wrap;
  }
  .gt-footer-top > div {
    width: 100%;
  }
  .gt-footer-top > div:first-of-type {
    padding-left: 15px;
  }
  .gt-footer-top > div:last-of-type {
    padding-right: 15px;
  }
  .gt-footer-subscribe form {
    margin-bottom: 20px;
  }
  .gt-footer-social-link {
    position: static;
    margin: 20px 0;
  }
}
.gt-breadcrumbs {
  font-size: 20px;
  padding-top: 95px;
  align-items: flex-start;
  color: #fff;
}
.gt-breadcrumbs ul {
  flex-direction: row;
  flex-wrap: wrap;
}
.gt-breadcrumbs ul li a {
  display: inline-flex;
  padding-right: 1.2em;
  position: relative;
}
.gt-breadcrumbs ul li a:after {
  position: absolute;
  cursor: default;
  right: .25em;
  bottom: .25em;
  content: '';
  height: .65em;
  display: flex;
  width: .65em;
  background: url("../img/arrow_right_white.svg") no-repeat 50% 50%;
}
.gt-breadcrumbs ul li:last-child a:after {
  display: none;
}
.gt-button-block {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gt-button-block-wrapper {
  background: #e3e3e3;
}
.gt-button-block a {
  width: 11%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 165px;
  margin-bottom: 35px;
  position: relative;
  color: #000;
  font-weight: 500;
}
.gt-button-block a:before {
  content: '';
  display: block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #4d4d4d;
  position: absolute;
  top: -115px;
  left: calc(50% - 40px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-button-block a.gt-button-block-avia:before {
  background: transparent url("../img/avia_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-avia:hover:before {
  background: #0057FF url("../img/avia_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-hotels:before {
  background: transparent url("../img/hotels_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-hotels:hover:before {
  background: #0057FF url("../img/hotels_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-carrent:before {
  background: transparent url("../img/carrent_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-carrent:hover:before {
  background: #0057FF url("../img/carrent_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-bus:before {
  background: transparent url("../img/bus_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-bus:hover:before {
  background: #0057FF url("../img/bus_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-ship:before {
  background: transparent url("../img/ship_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-ship:hover:before {
  background: #0057FF url("../img/ship_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-insurance:before {
  background: transparent url("../img/insurance_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-insurance:hover:before {
  background: #0057FF url("../img/insurance_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-hottour:before {
  background: transparent url("../img/hottour_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-hottour:hover:before {
  background: #0057FF url("../img/hottour_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-visas:before {
  background: transparent url("../img/visas_icon_blue.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
.gt-button-block a.gt-button-block-visas:hover:before {
  background: #0057FF url("../img/visas_icon_white.svg") no-repeat 50% 50%;
  background-size: auto 40%;
}
@media screen and (max-width: 1230px) {
  .gt-button-block a {
    margin-top: 155px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-button-block {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .gt-button-block a {
    width: 25%;
    margin-top: 145px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .gt-button-block {
    padding-top: 20px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 666px) {
  .gt-button-block {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .gt-button-block a {
    margin-top: 120px;
    font-size: 14px;
  }
  .gt-button-block a:before {
    height: 64px;
    width: 64px;
    top: -85px;
    left: calc(50% - 32px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (max-width: 479px) {
  .gt-button-block {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .gt-button-block a {
    color: transparent;
    margin-top: 30px;
    font-size: 1px;
  }
  .gt-button-block a:nth-child(n+5) {
    margin-top: 90px;
  }
  .gt-button-block a:before {
    height: 64px;
    width: 64px;
    top: 0px;
    left: calc(50% - 32px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}
.main-page-top {
  background: url("../img/main_top_bg.png") no-repeat 50% 100%;
  background-size: cover;
  height: 900px;
}
.main-page-top .gt-top-inner {
  margin-top: 280px;
}
.main-page-top .gt-top-inner .white-line {
  width: 160px;
}
@media screen and (max-width: 1230px) {
  .main-page-top {
    height: 480px;
  }
  .main-page-top .gt-top-inner {
    margin-top: 150px;
  }
}
@media screen and (max-width: 1023px) {
  .main-page-top {
    height: 1006px;
  }
  .main-page-top .gt-top-inner {
    margin-top: 325px;
  }
}
@media screen and (max-width: 767px) {
  .main-page-top {
    height: 870px;
  }
  .main-page-top .gt-top-inner {
    margin-top: 270px;
  }
}
@media screen and (max-width: 666px) {
  .main-page-top {
    height: 630px;
  }
  .main-page-top .gt-top-inner {
    margin-top: 200px;
  }
}
@media screen and (max-width: 479px) {
  .main-page-top {
    height: 560px;
  }
}
.country-page-top {
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 600px;
}
.country-page-top .gt-top-inner {
  margin-top: 180px;
}
.container.gt-action-menu {
  padding: 0;
}
.gt-action-menu {
  flex-direction: row;
}
.gt-action-menu-wrapper {
  height: 400px;
  background: url("../img/main_bg_1.png") no-repeat 0 0;
  background-size: contain;
}
.gt-action-menu-two-columns {
  background: none;
  height: auto;
}
.gt-action-menu .gt-events .icon-holder {
  background: url("../img/events_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-publications .icon-holder {
  background: url("../img/publications_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-routes .icon-holder {
  background: url("../img/routes_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-plane-round-world .icon-holder {
  background: url("../img/plane_round_world_icon_blue.svg") no-repeat 45% 45%;
  background-size: 55% auto;
}
.gt-action-menu .gt-castle .icon-holder {
  background: url("../img/castle_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-wine .icon-holder {
  background: url("../img/wine_icon_blue.svg") no-repeat 50% 50%;
  background-size: 75% auto;
}
.gt-action-menu-inner {
  width: 100%;
  flex-direction: row;
  position: relative;
  min-height: 90px;
  padding: 60px 0 60px 100px;
}
.gt-action-menu .icon-holder {
  position: absolute;
  left: 0;
  top: 60px;
  height: 90px;
  width: 90px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
}
.gt-action-menu .icon-holder span {
  position: absolute;
  top: .25em;
  right: -0.5em;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  width: 25px;
  height: 25px;
  line-height: 18px;
  background: #0057FF;
  border-radius: 50%;
  text-align: center;
  padding-top: .35em;
}
.gt-action-menu .text-holder {
  flex-direction: column;
  padding: 0 15px;
  width: 100%;
}
.gt-action-menu .text-holder p:first-of-type {
  color: #363636;
  font-size: 16px;
  font-weight: 700;
}
.gt-action-menu .text-holder p.text-inner {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 30px;
}
.gt-action-menu-column {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gt-action-menu-column p {
  line-height: 180%;
  padding-right: 20%;
}
.gt-action-menu-column-inner {
  width: 33%;
  flex-direction: column;
}
.gt-action-menu-column-inner .icon-holder {
  position: static;
}
.gt-action-menu-column-inner p {
  padding-top: 20px;
  color: #000;
  padding-right: 15px;
}
@media screen and (max-width: 1230px) {
  .container.gt-action-menu {
    padding-left: inherit;
    padding-right: inherit;
  }
  .gt-action-menu-wrapper {
    height: 350px;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-inner {
    padding: 60px 60px 60px 70px;
  }
  .gt-action-menu .icon-holder {
    height: 70px;
    width: 70px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 13px;
    line-height: 12px;
    width: 20px;
    height: 20px;
  }
  .gt-action-menu .text-holder p.text-inner {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-action-menu-wrapper {
    height: 290px;
    background-size: cover;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-two-columns .gt-action-menu {
    flex-wrap: wrap;
  }
  .gt-action-menu-inner {
    height: auto;
    padding: 65px 0 0;
    justify-content: flex-start;
  }
  .gt-action-menu-inner:nth-child(2) {
    justify-content: center;
  }
  .gt-action-menu-inner:last-of-type {
    justify-content: flex-end;
  }
  .gt-action-menu .icon-holder {
    position: relative;
    left: auto;
    top: auto;
    height: 140px;
    width: 140px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 27px;
  }
  .gt-action-menu .text-holder {
    display: none;
  }
  .gt-action-menu-column p {
    padding-right: 0;
  }
  .gt-action-menu-column-inner .icon-holder {
    align-self: center;
  }
  .gt-action-menu-column-inner p {
    text-align: center;
  }
}
@media screen and (max-width: 666px) {
  .gt-action-menu-wrapper {
    height: 210px;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-inner {
    padding-top: 45px;
  }
  .gt-action-menu .icon-holder {
    height: 110px;
    width: 110px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 15px;
    width: 28px;
    height: 28px;
    line-height: 20px;
  }
  .gt-action-menu-column {
    align-items: flex-start;
  }
}
@media screen and (max-width: 479px) {
  .gt-action-menu-wrapper {
    height: 160px;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-inner {
    padding-top: 30px;
  }
  .gt-action-menu .icon-holder {
    height: 90px;
    width: 90px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 18px;
  }
  .gt-action-menu-column {
    font-size: 15px;
  }
  .gt-action-menu-column-inner {
    font-size: 13px;
  }
}
@media screen and (max-width: 359px) {
  .gt-action-menu .icon-holder {
    height: 65px;
    width: 65px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 15px;
  }
}
.gt-slider {
  height: 560px;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.gt-slider h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 45px;
}
.gt-slider-container {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-slider-inner {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 0 15px;
}
.gt-slider-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 200px 60% 15px 15px;
  left: 0;
  top: 0;
  flex-direction: column;
  z-index: 11;
}
.gt-slider-text .gt-blue {
  padding-bottom: 10px;
}
.gt-slider-text p {
  line-height: 23px;
}
.gt-slider-img-holder {
  float: right;
  width: 83%;
  height: 100%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
}
.gt-slider-img-holder:before {
  z-index: 12;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.3) 68%, rgba(255, 255, 255, 0.15) 82%, rgba(255, 255, 255, 0) 100%);
}
.gt-slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 83%;
  z-index: 20;
  justify-content: center;
}
.gt-slider-nav span {
  cursor: pointer;
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 15px 11px;
}
.gt-slider-nav span.gt-active {
  background: #0057FF;
}
.action-menu-wrapper + .gt-slider {
  z-index: 5;
  margin-top: -100px;
}
.action-menu-wrapper + .gt-slider .gt-slider-text:after {
  height: calc(100% - 100px);
}
@media screen and (max-width: 1230px) {
  .gt-slider-text {
    top: -60px;
  }
}
@media screen and (max-width: 1023px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -40px;
  }
  .gt-slider-text {
    top: -80px;
    left: 24px;
    padding-right: 50%;
  }
  .gt-slider-img-holder {
    width: 85%;
  }
  .gt-slider-img-holder:after {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -60px;
  }
  .gt-slider {
    height: 530px;
  }
  .gt-slider h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .gt-slider-container {
    margin-top: 170px;
    height: 350px;
  }
  .gt-slider-text {
    top: -140px;
    left: 24px;
    padding-right: 40%;
  }
  .gt-slider-img-holder {
    width: 100%;
  }
  .gt-slider-img-holder:after {
    width: 100%;
    background-image: linear-gradient(to bottom right, #ffffff 0%, rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 75%);
  }
}
@media screen and (max-width: 666px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -70px;
  }
  .gt-slider {
    height: 450px;
  }
  .gt-slider-container {
    margin-top: 175px;
    height: 300px;
  }
  .gt-slider-text {
    top: -170px;
    padding-right: 20%;
  }
  .gt-slider-img-holder:after {
    background-image: linear-gradient(to bottom right, #ffffff 0%, rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
  }
}
@media screen and (max-width: 479px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -20px;
  }
  .gt-slider {
    height: 500px;
  }
  .gt-slider-container {
    margin-top: 225px;
  }
}
.gt-news {
  padding: 0;
}
.gt-news-inner {
  flex-wrap: wrap;
}
.gt-news-inner div {
  flex-direction: column;
  overflow: hidden;
}
.gt-news-inner i {
  padding-left: 20px;
  padding-right: 5px;
}
.gt-news-inner span {
  font-size: 12px;
}
.gt-news-inner .gt-img-holder {
  height: 100%;
  width: 100%;
}
.gt-news-inner:last-of-type {
  margin-bottom: 0;
}
.gt-news-big {
  height: 380px;
  padding: 0 15px;
  width: 50%;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.gt-news-big .gt-news-text {
  height: 100%;
  padding: 0 40px;
  position: absolute;
  top: 0;
  width: calc(100% - 30px);
  flex-direction: column;
}
.gt-news-big .gt-news-text > div {
  width: auto;
  flex-direction: column;
  position: absolute;
}
.gt-news-big .gt-news-text > div div {
  flex-direction: row;
  padding: 5px 0;
}
.gt-news-big .gt-news-text-bottom {
  bottom: 40px;
  height: auto;
}
.gt-news-big .gt-news-text-top {
  font-size: 12px;
  top: 25px;
  height: auto;
}
.gt-news-big .gt-news-text-link-header {
  font-size: 14px;
}
.gt-news-big .gt-news-text-header {
  font-weight: bold;
}
.gt-news-small {
  height: 380px;
  padding: 0 15px;
  width: 25%;
  overflow: hidden;
}
.gt-news-small .gt-news-text {
  height: 100%;
  flex-direction: column;
}
.gt-news-small .gt-news-text-link-header {
  flex-direction: row;
  height: 2em;
  line-height: 2em;
}
.gt-news-small .gt-news-text-link-header i {
  line-height: 1.8em;
}
.gt-news-small .gt-news-text-header .header {
  font-weight: bold;
  height: 4em;
  padding: .5em 0;
}
.gt-news-small .gt-news-text-header .text {
  line-height: 1.5;
}
.gt-news-small .gt-news-prew .gt-img-holder {
  height: 100% !important;
}
.gt-news-small-plane,
.gt-news-small-image {
  position: relative;
}
.gt-news-small-plane .gt-news-text,
.gt-news-small-image .gt-news-text {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-news-small-image {
  position: relative;
}
.gt-news-small-image .gt-news-text {
  color: #fff;
}
.gt-news-small-image .gt-news-text a {
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  align-items: center;
}
.gt-news-small-image .gt-news-text a:first-of-type {
  font-size: 14px;
  font-weight: 300;
  bottom: 100px;
}
.gt-news-small-image .gt-news-text a:last-of-type {
  font-size: 30px;
  font-weight: bold;
  height: 100px;
  bottom: 0;
}
.gt-news-small.gt-news-small-image .gt-img-holder {
  height: 100%;
}
.gt-news-small-plane .gt-news-text-inner {
  margin: auto;
  padding: 0 15px;
}
.gt-news-small-plane h2 {
  font-size: 32px;
  font-weight: bold;
}
.gt-news-small-plane p {
  margin: 30px 0;
}
.gt-news-small-plane a span {
  display: inline-flex;
  color: #fff;
  background: #0057FF;
  width: auto;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #0057FF;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-news-small-plane a span:hover {
  border: 1px solid #0057FF;
  color: #0057FF;
  background: transparent;
}
.gt-news-prew {
  font-size: 14px;
  display: flex;
  align-content: center;
  height: 60px;
  flex-direction: row;
  margin-bottom: 20px;
}
.gt-news-prew:first-child {
  padding-top: 0;
}
.gt-news-prew:last-child {
  margin-bottom: 0;
}
.gt-news-prew .gt-img-holder {
  max-width: 25%;
}
.gt-news-prew-text {
  width: 75%;
  padding: 0 15px;
  align-content: space-around;
  flex-wrap: wrap;
}
.gt-news-prew-text p:first-child {
  color: #4d4d4d;
  line-height: 1;
  height: 3em;
  overflow: hidden;
}
.gt-news-prew-text p:last-of-type {
  font-size: 13px;
  position: relative;
  bottom: -0.3em;
}
@media screen and (max-width: 1023px) {
  .gt-news-inner:first-of-type {
    margin-bottom: 0;
  }
  .gt-news-inner > div {
    margin-bottom: 30px;
  }
  .gt-news-inner .gt-img-holder {
    background-position: center top;
  }
  .gt-news-big {
    width: 100%;
    height: 460px;
  }
  .gt-news-small {
    width: 50%;
    height: auto;
  }
  .gt-news-small-plane,
  .gt-news-small-image {
    height: 500px;
  }
  .gt-news-small-plane .gt-img-holder,
  .gt-news-small-image .gt-img-holder {
    height: 100%;
  }
  .gt-news-small .gt-img-holder {
    width: 100%;
    height: 230px;
  }
  .gt-news-small .gt-news-text {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .gt-news-big {
    height: 390px;
  }
  .gt-news-small .gt-img-holder {
    height: 210px;
  }
  .gt-news-small-plane,
  .gt-news-small-image {
    height: 450px;
  }
}
@media screen and (max-width: 666px) {
  .gt-news-big {
    height: 300px;
  }
  .gt-news-big .gt-news-text-bottom {
    bottom: 30px;
  }
  .gt-news-big .gt-news-text-top {
    top: 20px;
  }
  .gt-news-small .gt-img-holder {
    height: 180px;
  }
  .gt-news-small-plane,
  .gt-news-small-image {
    height: 320px;
  }
  .gt-news-small-image .gt-news-text a:last-of-type {
    font-size: 22px;
  }
  .gt-news-small-plane h2 {
    font-size: 24px;
  }
  .gt-news-small-plane a span {
    padding: 6px 15px;
  }
}
@media screen and (max-width: 479px) {
  .gt-news-big {
    height: 220px;
  }
  .gt-news-big .gt-news-text-bottom {
    bottom: 20px;
  }
  .gt-news-big .gt-news-text-top {
    top: 10px;
  }
  .gt-news-small {
    width: 100%;
  }
  .gt-news-small .gt-img-holder {
    height: 220px;
  }
  .gt-news-small.gt-news-small-image,
  .gt-news-small.gt-news-small-plane {
    width: 50%;
  }
  .gt-news-small-plane h2 {
    font-size: 22px;
  }
  .gt-news-small-plane p {
    margin: 20px 0;
    font-size: 14px;
  }
  .gt-news-small-plane a span {
    font-size: 14px;
  }
  .gt-news-small-prew {
    height: 90px;
    font-size: 14px;
  }
}
.gt-video {
  height: 500px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.gt-video-inner {
  width: 100%;
}
.gt-video-img {
  width: 100%;
}
.gt-video-text {
  padding: 30px 25px;
  color: #fff;
  width: 100%;
  height: auto;
  align-items: flex-end;
}
.gt-video-text a {
  max-width: 5em;
}
.gt-video-text p {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}
.gt-video-switch {
  position: absolute;
  height: 74px;
  width: 74px;
  background: url("../img/video_play.svg") no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
  bottom: calc(50% - 37px);
  left: calc(50% - 37px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-video-switch-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-video-switch.gt-video-on {
  background: url("../img/video_pause.png") no-repeat 50% 50%;
  background-size: contain;
  height: 50px;
  width: 50px;
  bottom: 20px;
  left: 20px;
}
.gt-video .gt-img-holder {
  width: 100%;
}
.gt-video-foreground,
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.gt-video-width.gt-video-foreground {
  height: 300%;
  top: -100%;
}
.gt-video-height.gt-video-foreground {
  height: 100%;
}
@media screen and (max-width: 1230px) {
  .gt-video {
    height: 330px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-video {
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .gt-video {
    height: 213px;
  }
  .gt-video-switch {
    height: 50px;
    width: 50px;
    bottom: calc(50% - 25px);
    left: calc(50% - 25px);
  }
  .gt-video-switch.gt-video-on {
    height: 35px;
    width: 35px;
    bottom: 10px;
    left: 10px;
  }
}
@media screen and (max-width: 666px) {
  .gt-video {
    height: 150px;
  }
}
@media screen and (max-width: 479px) {
  .gt-video {
    height: 120px;
  }
}
.gt-link-block {
  flex-direction: row;
  min-height: 420px;
  justify-content: space-between;
  align-items: stretch;
}
.gt-link-block > div {
  flex-direction: column;
}
.gt-link-block-text {
  width: 33%;
  position: relative;
  padding-right: 15px;
}
.gt-link-block-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  padding-top: 130px;
  position: relative;
  background: url("../img/logo_link_icon.svg") no-repeat 0 90%;
  background-size: auto 3em;
}
.gt-link-block-text h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 1.5em;
  background: #0057FF;
}
.gt-link-block-text p {
  margin-top: 2em;
  line-height: 1.5;
  padding-bottom: 90px;
}
.gt-link-block-text a {
  position: absolute;
  left: 0;
  bottom: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.gt-link-block-img {
  height: auto;
  width: 67%;
  text-align: center;
}
.gt-link-block-img div {
  height: 100%;
}
@media screen and (max-width: 1230px) {
  .gt-link-block {
    min-height: 350px;
  }
  .gt-link-block-text h2 {
    font-size: 36px;
  }
  .gt-link-block-text p {
    margin-top: 1em;
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-link-block {
    min-height: 260px;
  }
  .gt-link-block-text h2 {
    padding-top: 80px;
    font-size: 36px;
  }
  .gt-link-block-text p {
    padding-bottom: 50px;
  }
  .gt-link-block-text a {
    bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .gt-link-block {
    min-height: 210px;
  }
  .gt-link-block-text h2 {
    padding-top: 40px;
    font-size: 24px;
  }
}
@media screen and (max-width: 666px) {
  .gt-link-block {
    flex-wrap: wrap;
  }
  .gt-link-block-text {
    width: 100%;
  }
  .gt-link-block-text h2 {
    font-size: 30px;
    background-size: auto 2.5em;
  }
  .gt-link-block-text p {
    font-size: 16px;
    padding-bottom: 60px;
  }
  .gt-link-block-img {
    width: 100%;
    height: 250px;
  }
}
.gt-must {
  position: relative;
  height: 500px;
}
.gt-must-left {
  width: 65%;
  height: 100%;
  background: #e3e3e3;
  overflow: hidden;
}
.gt-must .gt-video {
  height: 100%;
}
.gt-must-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
  z-index: 5;
  flex-direction: column;
}
.gt-must-right-inner {
  background: #fff;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.gt-must-right-inner .gt-inner-scroll-text {
  padding: 45px 35px 35px 50px;
}
.gt-must-right-inner h2 {
  font-size: 18px;
  margin-bottom: 25px;
}
.gt-must-right-inner ul {
  flex-direction: column;
  min-height: 100%;
}
.gt-must-right-inner ul li {
  position: relative;
  height: auto;
  margin: 35px 0;
}
.gt-must-right-inner ul li:after {
  content: '';
  position: absolute;
  left: 0px;
  top: -0.3em;
  font-size: 64px;
  font-weight: bold;
  color: #EDEDED;
}
.gt-must-right-inner ul li:nth-of-type(1):after {
  content: '1';
}
.gt-must-right-inner ul li:nth-of-type(2):after {
  content: '2';
}
.gt-must-right-inner ul li:nth-of-type(3):after {
  content: '3';
}
.gt-must-right-inner ul li:nth-of-type(4):after {
  content: '4';
}
.gt-must-right-inner ul li:nth-of-type(5):after {
  content: '5';
}
.gt-must-right-inner ul li:nth-of-type(6):after {
  content: '6';
}
.gt-must-right-inner ul li:nth-of-type(7):after {
  content: '7';
}
.gt-must-right-inner ul li:nth-of-type(8):after {
  content: '8';
}
.gt-must-right-inner ul li:nth-of-type(9):after {
  content: '9';
}
.gt-must-right-inner ul li:nth-of-type(10):after {
  content: '10';
}
.gt-must-right-inner ul li p {
  text-indent: 20px;
  line-height: 1.5;
}
.gt-tabs {
  position: relative;
  padding: 0;
  flex-direction: column;
  height: 350px;
  width: 100%;
}
.gt-tabs-button {
  background: #F6F6F8;
  color: #000;
  padding: 15px;
  height: 40px;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-tabs-button-holder {
  position: absolute;
  flex-direction: row;
  left: 0;
  top: 25px;
}
.gt-tabs-button:after {
  content: '';
  width: 0;
  height: 1px;
  background: #0057FF;
  position: absolute;
  bottom: 0;
  left: 0;
}
.gt-tabs-button.active {
  background: #fff;
  cursor: default;
}
.gt-tabs-button.active:after {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.gt-tabs-main {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-tabs-main.active {
  opacity: 1;
}
.gt-tabs-main-holder {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.gt-tabs-main-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  height: 100%;
  overflow: hidden;
}
.gt-tabs-main-img img {
  width: 100%;
}
.gt-tabs-main-text {
  background: #fff;
  position: absolute;
  top: 45px;
  left: 0;
  width: 62%;
  height: 245px;
  font-size: 14px;
  line-height: 1.8;
  padding: 50px 10px 40px 40px;
}
.gt-tabs-main-text .gt-inner-scroll-text {
  padding-right: 10px;
}
.gt-tabs-broad {
  height: 260px;
}
.gt-tabs-broad .gt-tabs-button {
  background: #fafafa;
  min-width: 0;
}
.gt-tabs-broad .gt-tabs-button:after {
  display: none;
}
.gt-tabs-broad .gt-tabs-button span {
  position: relative;
}
.gt-tabs-broad .gt-tabs-button span:after {
  content: '';
  width: 0;
  height: 2px;
  background: #0057FF;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.gt-tabs-broad .gt-tabs-button-holder {
  top: 0;
}
.gt-tabs-broad .gt-tabs-button.active {
  background: #fafafa;
  border-bottom: none;
  cursor: default;
}
.gt-tabs-broad .gt-tabs-button.active span:after {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.gt-tabs-broad .gt-tabs-main-img {
  right: auto;
  top: 40px;
  left: 0;
  width: 30%;
}
.gt-tabs-broad .gt-tabs-main-text {
  background: #fff;
  position: absolute;
  top: 40px;
  left: auto;
  right: 0;
  width: 70%;
  height: 100%;
  margin: 0;
}
.gt-link-block-city {
  flex-direction: column;
  line-height: 1.8;
}
.gt-link-block-city-text {
  flex-direction: column;
  color: #000;
  padding-bottom: 20px;
}
.gt-link-block-city-text h2 {
  font-size: 18px;
  padding-bottom: 10px;
}
.gt-link-block-city-links {
  padding: 0;
  flex-direction: row;
}
.gt-link-block-city-links-item {
  width: 100%;
  margin: 0 15px;
  flex-direction: column;
}
.gt-link-block-city-links-item:first-of-type {
  margin-left: 0;
}
.gt-link-block-city-links-item:last-of-type {
  margin-right: 0;
}
.gt-link-block-city-links-item-img {
  width: 100%;
  position: relative;
  height: 270px;
  overflow: hidden;
}
.gt-link-block-city-links-item-img-a {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-link-block-city-links-item-img-a:hover {
  opacity: 1;
}
.gt-link-block-city-links-item-img-a a {
  display: flex;
  color: #fff;
  margin: auto;
  border: 1px solid #fff;
  padding: 15px 25px;
}
.gt-link-block-city-links-item-img img {
  width: 100%;
}
.gt-link-block-city-links-item-text {
  padding-top: 10px;
  flex-direction: column;
}
.gt-link-block-city-links-item-text a {
  display: inline;
  color: #000;
  font-weight: 700;
}
.gt-link-block-city-links-item-text p {
  padding-top: 10px;
  font-size: 14px;
}
