html,
body {
  background: #fafafa;
  box-sizing: border-box;
  color: #6D6D6D;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
}
* {
  box-sizing: border-box;
  z-index: 1;
}
body {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
div,
header,
footer,
section,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
form,
a {
  display: flex;
}
.gt-wrapper,
footer {
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.gt-wrapper {
  background: #fafafa;
  z-index: 2;
}
footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
}
.container {
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 15px;
}
.white-line {
  height: 2px;
  background: #fff;
}
.gt-blue {
  color: #0057FF;
}
.gt-black {
  color: #000;
}
.gt-white {
  color: #fff;
}
.gt-img-holder {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.gt-img-holder img {
  height: 100%;
  width: auto;
}
.gt-img-holder:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-box-shadow {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
}
.gt-shadow-70:after {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 100%);
  z-index: 10;
}
.gt-shadow-70-reverse-100px:after {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 100px);
  z-index: 10;
  bottom: auto;
  height: 100px;
  width: auto;
}
.gt-shadow-100:after {
  background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.35) 25%, rgba(0, 0, 0, 0) 100%);
  z-index: 10;
}
.gt-up {
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background: #fafafa url("../img/arrow_top_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}
.gt-up span {
  display: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.gt-up span:before {
  position: absolute;
  left: -40px;
  top: -5px;
  content: '';
  background: #fff url("../img/arrow_top_blue.svg") no-repeat 50% 45%;
  background-size: 50% auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.gt-up.gt-visible {
  cursor: pointer;
  opacity: .5;
  visibility: visible;
}
.gt-up.gt-visible:hover {
  background: #0057FF url("../img/arrow_top_white.svg") no-repeat 50% 50%;
  background-size: 50% auto;
  border-color: #0057FF;
  opacity: 1;
}
.gt-top {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.gt-top-inner {
  color: #fff;
  padding: 100px 85px 70px 85px;
  background: url("../img/grid_pattern.png") repeat;
  width: 600px;
  flex-direction: column;
  align-items: center;
}
.gt-top-inner > div {
  width: 100%;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  z-index: 5;
}
.gt-top-inner .white-line {
  width: 160px;
  margin: 30px 0;
}
.gt-top-inner-lg {
  font-size: 42px;
  font-weight: 700;
}
.gt-top-inner-sm {
  font-size: 24px;
  font-weight: 500;
}
.gt-a-news,
.gt-a-video {
  position: relative;
}
.gt-a-news:after,
.gt-a-video:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: #0057FF;
}
.gt-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}
.gt-margin + .gt-margin {
  margin-top: 0;
}
.gt-margin > .gt-margin:first-child {
  margin-top: 0;
}
.gt-margin > .gt-margin:last-child {
  margin-bottom: 0;
}
input.gt-but-white {
  display: none;
}
label.gt-but-white {
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  display: flex;
  color: #0057FF;
  padding: 0 15px;
  border: 1px solid #0057FF;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: auto;
}
label.gt-but-white:hover {
  background: #0057FF;
  color: #fff;
  border: 1px solid #0057FF;
}
