.gt-transition(@property: all, @duration: 0.5s, @function: ease-in-out) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}
.gt-placeholder(@color){

  &::-webkit-input-placeholder {
    color: @color;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: @color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: @color;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: @color;
    opacity: 1;
  }
  &::placeholder {
    color: @color;
    opacity: 1;
  }
}