.gt-transition(@property: all, @duration: 0.5s, @function: ease-in-out) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.gt-placeholder(@color) {
	&::-webkit-input-placeholder {
		color: @color;
		opacity: 1;
	}

	&::-moz-placeholder {
		color: @color;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: @color;
		opacity: 1;
	}

	&:-moz-placeholder {
		color: @color;
		opacity: 1;
	}

	&::placeholder {
		color: @color;
		opacity: 1;
	}
}

.gt-box-shadow (@x: 1px, @y: 3px, @blur: 5px, @alpha: 0.5) {
	box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}


