@body-bg:#fafafa;
@bg-grey:#e3e3e3;
@white:#fff;
@black:#000;
@blue:#0057FF;
@grey-lightest:#EDEDED;
@grey-light:#6D6D6D;
@grey-5:#F6F6F8;
@grey-dark:#363636;
@grey-border:#4d4d4d;
@grey-link:#4d4d4d;
@menu-bg: rgba(0,0,0,.7);
