<header class="gt-header">
    <div class="gt-header-mobile-menu">
        <ul class="container">
            <li><a href=".#">Страны мира</a></li>
            <li><a href=".#">Путеводитель</a></li>
            <li><a href=".#">Новости</a></li>
            <li><a href=".#">Подборки</a></li>
            <li><a href=".#">Видео</a></li>
            <li><a href=".#">Публикации</a></li>
            <li class ="gt-enter"><span>Вход</span></li>
            <div class="gt-header-social-link">
                <div class="container">
                    <a href="https://www.facebook.com"  rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com" rel="nofollow" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com"  rel="nofollow" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
            </div>
        </ul>

    </div>
        <div class="gt-header-top">
            <div class="container">
            <div class="gt-search-holder">
                <span class="gt-search"></span>
            </div>
            <div class="gt-header-logo">
                <a class = "gt-logo" href="/"><img src="./img/logo_white.svg" alt="GoToTrip"></a>
            </div>
            <div class="gt-header-switch-holder">
                <div id="gt-mobile-menu-switch" class="gt-header-switch">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </div>
            </div>
            <div class="gt-header-menu">
                    <ul>
                        <li><a href=".#">Страны мира</a></li>
                        <li><a href=".#">Путеводитель</a></li>
                        <li><a href=".#">Новости</a></li>
                        <li><a href=".#">Подборки</a></li>
                        <li><a href=".#">Видео</a></li>
                        <li><a href=".#">Публикации</a></li>
                        <li class ="gt-enter"><span>Вход</span></li>
                        <li><span class="gt-search"></span></li>
                    </ul>

            </div>

        </div>



    </div>




</header>