<div class="gt-button-block-wrapper">
    <div class="gt-button-block container">
        <a class="gt-button-block-avia" href=".#">Авиабилеты</a>
        <a class="gt-button-block-hotels" href=".#">Отели</a>
        <a class="gt-button-block-carrent" href=".#">Прокат авто</a>
        <a class="gt-button-block-bus" href=".#">Ж/д и автобусы</a>
        <a class="gt-button-block-ship" href=".#">Круизы</a>
        <a class="gt-button-block-hottour" href=".#">Горящие туры</a>
        <a class="gt-button-block-insurance" href=".#">Страхование</a>
        <a class="gt-button-block-visas" href=".#">Визы</a>
    </div>
</div>
