<div class="gt-slider-horizontal container test">
    <div class="gt-slider gt-slider-has-arrow test1" data-count = "4">
        <div class="gt-slider-container">
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
                <div class="gt-slider-inner-cover gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
                <div class="gt-slider-inner-cover  gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/casa-mila-01.png')"></div>
                <div class="gt-slider-inner-cover gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
                <div class="gt-slider-inner-cover gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
                <div class="gt-slider-inner-cover gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
                <div class="gt-slider-inner-cover gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/casa-mila-01.png')"></div>
                <div class="gt-slider-inner-cover gt-slider-open-clone">
                    <p>Париж</p>
                </div>
            </div>
        </div>
    </div>


</div>
