<div class="gt-shadow-slider container">
    <div class="gt-shadow-slider-text">
        <p class="gt-blue">ПОДБОРКИ</p>
        <h2 class="gt-shadow-slider-header gt-black">Шедевры Антонио Гауди</h2>
        <p>Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.</p>
    </div>
    <div class="gt-slider gt-slider-has-arrow gt-slider-has-dots">
        <div class="gt-slider-container">
            <div class="gt-slider-inner">
                <div class="gt-img-holder gt-shadow-70" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder gt-shadow-70" style="background-image: url('./img/gaudi_slider/guell-colony-cripta-01.png')"></div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder gt-shadow-70" style="background-image: url('./img/gaudi_slider/escuelas-sf-01.png')"></div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder gt-shadow-70" style="background-image: url('./img/gaudi_slider/casa-mila-01.png')"></div>
            </div>
            <div class="gt-slider-inner">
                <div class="gt-img-holder gt-shadow-70" style="background-image: url('./img/gaudi_slider/casa-botines-02.png')"></div>
            </div>
        </div>
        <div class="gt-shadow-slider-text-shadow"></div>
    </div>
</div>
