@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.gt-slider {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 100%;
}
.gt-slider-container {
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  flex-direction: row;
}
.gt-slider-inner {
  position: relative;
  height: 100%;
}
.gt-slider-inner-cover {
  color: #fff;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  align-items: flex-end;
  padding: 35px 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35) url("../img/icons/loupe-icon.svg") no-repeat 50% 50%;
  background-size: auto 60px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-slider-inner-cover:hover {
  opacity: 1;
}
.gt-slider-inner-outer {
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.gt-slider-inner-img {
  height: 100%;
  width: 100%;
  display: block;
}
.gt-slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  justify-content: center;
}
.gt-slider-nav span {
  cursor: pointer;
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 15px 11px;
}
.gt-slider-nav span.gt-active {
  background: #0057FF;
}
.gt-slider-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: calc(50% - 20px);
  cursor: pointer;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .65 ;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 50;
}
.gt-slider-arrow-holder {
  height: 0;
  width: 100%;
}
.gt-slider-arrow i {
  display: flex;
}
.gt-slider-arrow:hover {
  opacity: 1;
}
.gt-slider-arrow.not-active {
  opacity: .2 !important;
  cursor: default;
}
.gt-slider-arrow.left {
  left: 25px;
}
.gt-slider-arrow.left i {
  padding-right: .1em ;
}
.gt-slider-arrow.right {
  right: 25px;
}
.gt-slider-arrow.right i {
  padding-left: .1em;
}
.gt-slider .gt-img-holder {
  width: 100%;
  height: 100%;
}
.gt-slider.gt-slider-no-padding {
  width: calc(100% + 30px);
}
.gt-slider-clone {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  align-items: center;
  overflow-y: auto;
  position: relative;
}
.gt-slider-clone .container {
  position: relative;
  padding: 50px 100px;
  height: 80%;
}
.gt-slider-clone-container {
  transition: none;
}
.gt-slider-clone-container.gt-animated {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-slider-clone-inner {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.gt-slider-clone-close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 102;
  height: 30px;
  width: 30px;
}
.gt-slider-clone-close:after,
.gt-slider-clone-close:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 125%;
  background: #fff;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.75);
  top: 50%;
  left: -12%;
}
.gt-slider-clone-close:before {
  transform: rotate(45deg);
}
.gt-slider-clone-close:after {
  transform: rotate(-45deg);
}
.gt-slider-clone .gt-slider-inner-cover {
  display: none;
}
.gt-slider-clone .gt-img-holder {
  width: 100%;
  height: 100%;
}
.gt-shadow-slider {
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
}
.gt-shadow-slider .gt-slider {
  height: 560px;
  width: 83%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
}
.gt-shadow-slider .gt-slider-arrow {
  top: auto;
  bottom: 25px;
}
.gt-shadow-slider .gt-slider-arrow.left {
  left: auto;
  right: 75px;
}
.gt-shadow-slider h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 45px;
}
.gt-shadow-slider-text {
  position: absolute;
  width: 40%;
  height: 100%;
  padding: 200px 15px 15px 15px;
  left: 0;
  top: 0;
  flex-direction: column;
  z-index: 11;
  display: block;
}
.gt-shadow-slider-text .gt-blue {
  padding-bottom: 10px;
}
.gt-shadow-slider-text p {
  line-height: 23px;
  max-width: 100%;
}
.gt-shadow-slider-text-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.3) 68%, rgba(255, 255, 255, 0.15) 82%, rgba(255, 255, 255, 0) 100%);
}
.gt-action-menu-wrapper + .gt-shadow-slider {
  z-index: 5;
  margin-top: -100px;
}
.gt-action-menu-wrapper + .gt-shadow-slider .gt-slider-text:after {
  height: calc(100% - 100px);
}
.gt-slider-horizontal {
  height: 390px;
}
.gt-read-more-slider {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 55px 0;
  font-size: 15px;
  flex-direction: column;
}
.gt-read-more-slider h2 {
  font-size: 18px;
}
.gt-read-more-slider .gt-slider {
  height: 490px;
}
.gt-read-more-slider .gt-slider-inner {
  padding: 0 15px;
}
.gt-read-more-slider .gt-slider-inner-outer {
  background: #fff;
}
.gt-read-more-slider .gt-slider-inner-img {
  height: 50%;
  width: 100%;
}
.gt-read-more-slider .gt-slider-inner-text {
  position: relative;
  flex-direction: column;
  padding: 15px;
}
.gt-read-more-slider .gt-slider-inner-text-header {
  position: relative;
  width: 100%;
}
.gt-read-more-slider .gt-slider-inner-text h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  color: #363636;
  background: #fff;
  text-align: center;
  justify-content: center;
  padding: 1em .5em;
  align-items: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.gt-read-more-slider .gt-slider-inner-text p {
  display: block;
  padding: 30px 15px;
  text-align: center;
  line-height: 1.8;
}
.gt-read-more-slider .gt-slider-inner-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 0 15px;
  justify-content: flex-end;
}
.gt-slider-text-link {
  height: 500px;
  line-height: 1.5;
}
.gt-slider-text-link h2 {
  margin-bottom: 50px;
  font-size: 18px;
}
.gt-slider-text-link .gt-slider-nav {
  width: 40%;
  left: 0;
  bottom: 15px;
}
.gt-slider-text-link .gt-slider-nav span {
  background: #4d4d4d;
}
.gt-slider-text-link .gt-slider-nav span.gt-active {
  background: #0057FF;
}
.gt-slider-text-link .gt-slider-inner-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  padding: 50px;
}
.gt-slider-text-link .gt-slider-inner-link {
  justify-content: flex-end;
  padding: 15px;
}
@media screen and (max-width: 1230px) {
  .gt-shadow-slider-text {
    top: -60px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-action-menu-wrapper + .gt-shadow-slider {
    margin-top: -40px;
  }
  .gt-shadow-slider-text {
    width: 50%;
    top: -80px;
    left: 24px;
  }
  .gt-shadow-slider-text-shadow {
    width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .gt-action-menu-wrapper + .gt-shadow-slider {
    margin-top: -60px;
  }
  .gt-shadow-slider .gt-slider {
    height: 350px;
  }
  .gt-shadow-slider h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .gt-shadow-slider-text {
    top: -140px;
    left: 24px;
    width: 60%;
  }
  .gt-shadow-slider-text-shadow {
    width: 100%;
    background-image: linear-gradient(to bottom right, #ffffff 0%, rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 75%);
  }
}
@media screen and (max-width: 666px) {
  .gt-action-menu-wrapper + .gt-shadow-slider {
    margin-top: -70px;
  }
  .gt-shadow-slider .gt-slider {
    height: 450px;
    width: 100%;
  }
  .gt-shadow-slider-text {
    top: -170px;
    width: 80%;
  }
  .gt-shadow-slider-text-shadow {
    background-image: linear-gradient(to bottom right, #ffffff 0%, rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%);
  }
}
@media screen and (max-width: 479px) {
  .gt-action-menu-wrapper + .gt-shadow-slider {
    margin-top: -20px;
  }
  .gt-shadow-slider .gt-slider {
    height: 500px;
  }
}
