.container.gt-action-menu {
  padding: 0;
}
.gt-action-menu {
  flex-direction: row;
}
.gt-action-menu-wrapper {
  height: 400px;
  background: url("../img/main_bg_1.png") no-repeat 0 0;
  background-size: contain;
}
.gt-action-menu-two-columns {
  background: none;
  height: auto;
}
.gt-action-menu .gt-events .icon-holder {
  background: url("../img/icons/events_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-publications .icon-holder {
  background: url("../img/icons/publications_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-routes .icon-holder {
  background: url("../img/icons/routes_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-plane-round-world .icon-holder {
  background: url("../img/icons/plane_round_world_icon_blue.svg") no-repeat 45% 45%;
  background-size: 55% auto;
}
.gt-action-menu .gt-castle .icon-holder {
  background: url("../img/icons/castle_icon_blue.svg") no-repeat 50% 50%;
  background-size: 50% auto;
}
.gt-action-menu .gt-wine .icon-holder {
  background: url("../img/icons/wine_icon_blue.svg") no-repeat 50% 50%;
  background-size: 75% auto;
}
.gt-action-menu-inner {
  width: 100%;
  flex-direction: row;
  position: relative;
  min-height: 90px;
  padding: 60px 0 60px 100px;
}
.gt-action-menu .icon-holder {
  position: absolute;
  left: 0;
  top: 60px;
  height: 90px;
  width: 90px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
}
.gt-action-menu .icon-holder span {
  position: absolute;
  top: .25em;
  right: -0.5em;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  width: 25px;
  height: 25px;
  line-height: 18px;
  background: #0057FF;
  border-radius: 50%;
  text-align: center;
  padding-top: .35em;
}
.gt-action-menu .text-holder {
  flex-direction: column;
  padding: 0 15px;
  width: 100%;
}
.gt-action-menu .text-holder p:first-of-type {
  color: #363636;
  font-size: 16px;
  font-weight: 700;
}
.gt-action-menu .text-holder p.text-inner {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 30px;
}
.gt-action-menu-column {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gt-action-menu-column p {
  line-height: 180%;
  padding-right: 20%;
}
.gt-action-menu-column-inner {
  width: 33%;
  flex-direction: column;
}
.gt-action-menu-column-inner .icon-holder {
  position: static;
}
.gt-action-menu-column-inner p {
  padding-top: 20px;
  color: #000;
  padding-right: 15px;
}
@media screen and (max-width: 1230px) {
  .container.gt-action-menu {
    padding-left: inherit;
    padding-right: inherit;
  }
  .gt-action-menu-wrapper {
    height: 350px;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-inner {
    padding: 60px 60px 60px 70px;
  }
  .gt-action-menu .icon-holder {
    height: 70px;
    width: 70px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 13px;
    line-height: 12px;
    width: 20px;
    height: 20px;
  }
  .gt-action-menu .text-holder p.text-inner {
    padding-top: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-action-menu-wrapper {
    height: 290px;
    background-size: cover;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-two-columns .gt-action-menu {
    flex-wrap: wrap;
  }
  .gt-action-menu-inner {
    height: auto;
    padding: 65px 0 0;
    justify-content: flex-start;
  }
  .gt-action-menu-inner:nth-child(2) {
    justify-content: center;
  }
  .gt-action-menu-inner:last-of-type {
    justify-content: flex-end;
  }
  .gt-action-menu .icon-holder {
    position: relative;
    left: auto;
    top: auto;
    height: 140px;
    width: 140px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 27px;
  }
  .gt-action-menu .text-holder {
    display: none;
  }
  .gt-action-menu-column p {
    padding-right: 0;
  }
  .gt-action-menu-column-inner .icon-holder {
    align-self: center;
  }
  .gt-action-menu-column-inner p {
    text-align: center;
  }
}
@media screen and (max-width: 666px) {
  .gt-action-menu-wrapper {
    height: 210px;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-inner {
    padding-top: 45px;
  }
  .gt-action-menu .icon-holder {
    height: 110px;
    width: 110px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 15px;
    width: 28px;
    height: 28px;
    line-height: 20px;
  }
  .gt-action-menu-column {
    align-items: flex-start;
  }
}
@media screen and (max-width: 479px) {
  .gt-action-menu-wrapper {
    height: 160px;
  }
  .gt-action-menu-two-columns {
    height: auto;
  }
  .gt-action-menu-inner {
    padding-top: 30px;
  }
  .gt-action-menu .icon-holder {
    height: 90px;
    width: 90px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 14px;
    width: 25px;
    height: 25px;
    line-height: 18px;
  }
  .gt-action-menu-column {
    font-size: 15px;
  }
  .gt-action-menu-column-inner {
    font-size: 13px;
  }
}
@media screen and (max-width: 359px) {
  .gt-action-menu .icon-holder {
    height: 65px;
    width: 65px;
  }
  .gt-action-menu .icon-holder span {
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 15px;
  }
}
