.gt-one-new {
  flex-direction: row;
  min-height: 420px;
  justify-content: space-between;
  align-items: stretch;
}
.gt-one-new > div {
  flex-direction: column;
}
.gt-one-new-text {
  width: 33%;
  position: relative;
  padding-right: 15px;
}
.gt-one-new-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  padding-top: 130px;
  position: relative;
  background: url("../img/icons/logo-link-icon.svg") no-repeat 0 90%;
  background-size: auto 3em;
}
.gt-one-new-text h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 1.5em;
  background: #0057FF;
}
.gt-one-new-text p {
  margin-top: 2em;
  line-height: 1.5;
  padding-bottom: 90px;
}
.gt-one-new-text a {
  position: absolute;
  left: 0;
  bottom: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.gt-one-new-img {
  height: auto;
  width: 67%;
  text-align: center;
}
.gt-one-new-img div {
  height: 100%;
}
@media screen and (max-width: 1230px) {
  .gt-link-block {
    min-height: 350px;
  }
  .gt-link-block-text h2 {
    font-size: 36px;
  }
  .gt-link-block-text p {
    margin-top: 1em;
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .gt-link-block {
    min-height: 260px;
  }
  .gt-link-block-text h2 {
    padding-top: 80px;
    font-size: 36px;
  }
  .gt-link-block-text p {
    padding-bottom: 50px;
  }
  .gt-link-block-text a {
    bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .gt-link-block {
    min-height: 210px;
  }
  .gt-link-block-text h2 {
    padding-top: 40px;
    font-size: 24px;
  }
}
@media screen and (max-width: 666px) {
  .gt-link-block {
    flex-wrap: wrap;
  }
  .gt-link-block-text {
    width: 100%;
  }
  .gt-link-block-text h2 {
    font-size: 30px;
    background-size: auto 2.5em;
  }
  .gt-link-block-text p {
    font-size: 16px;
    padding-bottom: 60px;
  }
  .gt-link-block-img {
    width: 100%;
    height: 250px;
  }
}
