<div class="gt-view-cards gt-margin">
    <div class="container container-no-padd gt-margin">
        <div class="gt-slider gt-view-cards-slider gt-slider-has-arrow gt-slider-no-padding" data-count="4">
            <div class="gt-slider-container">
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
            </div>
        </div>
    </div>
    <div class="container container-no-padd gt-margin">
        <div class="gt-slider gt-view-cards-slider gt-slider-has-arrow gt-slider-no-padding" data-count="4">
            <div class="gt-slider-container">
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
            </div>
        </div>
    </div>
    <div class="container container-no-padd gt-margin">
        <div class="gt-slider gt-view-cards-slider gt-slider-has-arrow gt-slider-no-padding" data-count="4">
            <div class="gt-slider-container">
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
            </div>
        </div>
    </div>
    <div class="container container-no-padd gt-margin">
        <div class="gt-slider gt-view-cards-slider gt-slider-has-arrow gt-slider-no-padding" data-count="4">
            <div class="gt-slider-container">
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
            </div>
        </div>
    </div>
    <div class="container container-no-padd gt-margin">
        <div class="gt-slider gt-view-cards-slider gt-slider-has-arrow gt-slider-no-padding" data-count="4">
            <div class="gt-slider-container">
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
                //= ./_view-card-horisontal
            </div>
        </div>
    </div>
</div>
    