@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.gt-view-cards {
  flex-direction: column;
}
.gt-view-cards-slider {
  height: 240px;
}
.gt-view-cards-inner {
  padding: 0 15px;
}
.gt-view-cards-text {
  color: #000;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
}
.gt-view-cards-text div {
  flex-direction: row;
  align-items: center;
}
.gt-view-cards-text-left {
  width: 50%;
  font-size: 14px;
  padding: 5px 5px 5px 15px;
  line-height: 1;
}
.gt-view-cards-text-right {
  padding: 5px 0;
  width: 40%;
  justify-content: flex-end;
  font-size: 10px;
  line-height: 1.2;
}
.gt-view-cards-text-right p {
  width: auto;
  padding: 0 8px;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.gt-view-cards-text-right p.gt-view-cards-counter {
  flex-shrink: inherit;
}
.gt-view-cards-marks {
  position: absolute;
  top: -28px;
  right: 5px;
  flex-direction: row-reverse;
}
.gt-view-cards-marks i {
  display: inline-flex;
  width: 35px;
  height: 35px;
  background-image: url("../img/view_cards_icons/top-icons.png");
  background-position-y: top;
  margin-left: -8px;
}
.gt-view-cards-marks-guinness {
  background-position-x: -120px;
}
.gt-view-cards-marks-unesco {
  background-position-x: -80px;
}
.gt-view-cards-marks-top {
  background-position-x: -40px;
}
.gt-view-cards-marks-seven {
  background-position-x: 0;
}
.gt-view-cards-icons {
  position: absolute;
  top: 0;
  right: 15px;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
  color: #fff;
}
.gt-view-cards-icons > div,
.gt-view-cards-icons > i {
  background-color: rgba(0, 0, 0, 0.7);
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  font-style: normal;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 5px;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-view-cards-icons > div.gt-active,
.gt-view-cards-icons > i.gt-active {
  background-color: rgba(255, 255, 255, 0.8);
}
.gt-view-cards-icons-visit {
  background-image: url("../img/view_cards_icons/visited-icon-white.svg");
  background-size: 60% auto;
}
.gt-view-cards-icons-visit.gt-title:after {
  content: 'Посетил';
}
.gt-view-cards-icons-visit.gt-active {
  background-image: url("../img/view_cards_icons/visited-icon-blue.svg");
  background-size: 60% auto;
}
.gt-view-cards-icons-visit.gt-active.gt-title:after {
  content: 'Хочу посетить';
}
.gt-view-cards-icons-pin-plus {
  background-image: url("../img/view_cards_icons/pin-plus-icon-white.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-pin-plus.gt-active {
  background-image: url("../img/view_cards_icons/pin-plus-icon-blue.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-pin {
  background-image: url("../img/view_cards_icons/pin-icon-white.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-pin.gt-active {
  background-image: url("../img/view_cards_icons/pin-icon-blue.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-star {
  background-image: url("../img/view_cards_icons/star-icon-white.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-star.gt-active {
  background-image: url("../img/view_cards_icons/star-icon-blue.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-seen {
  background-image: url("../img/view_cards_icons/seen-icon-white.svg");
  background-size: auto 50%;
}
.gt-view-cards-icons-seen.gt-active {
  background-image: url("../img/view_cards_icons/seen-icon-blue.svg");
  background-size: auto 50%;
}
.gt-view-cards-icons-share {
  background-image: url("../img/view_cards_icons/share-icon-white.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-share.gt-title:after {
  content: 'Поделиться';
}
.gt-view-cards-icons-share.gt-active {
  background-image: url("../img/view_cards_icons/share-icon-blue.svg");
  background-size: 50% auto;
}
.gt-view-cards-icons-share.gt-active:after {
  display: none;
}
.gt-view-cards-icons-bookmarks {
  background-image: url("../img/view_cards_icons/boocmarks-icon-white.svg");
  background-size: auto 60% ;
}
.gt-view-cards-icons-bookmarks.gt-title:after {
  content: 'Добавить в закладки';
}
.gt-view-cards-icons-bookmarks.gt-active {
  background-image: url("../img/view_cards_icons/boocmarks-icon-blue.svg");
  background-size: auto 60% ;
}
.gt-view-cards-icons-item:after {
  display: flex;
  flex-wrap: nowrap;
  font-size: 10px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 0;
  overflow: hidden;
  justify-content: center;
  padding: 2px 0;
}
.gt-view-cards-icons-item:hover {
  z-index: 2;
}
.gt-view-cards-icons-item:hover:after {
  width: 110px;
  -webkit-transition: 0.1s 0.5s ease-in-out;
  -moz-transition: 0.1s 0.5s ease-in-out;
  -o-transition: 0.1s 0.5s ease-in-out;
  transition: 0.1s 0.5s ease-in-out;
}
.gt-view-cards-icons-item:last-child:after {
  left: auto;
  right: 0;
  transform: translateX(0);
}
.gt-view-cards-icons-item-inner {
  font-size: 10px;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-view-cards-icons-item-inner:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 12px 10px;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
}
.gt-view-cards-icons-item-inner:before {
  content: '';
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: -20px;
}
.gt-view-cards-icons-item-inner-column {
  width: 110px;
  min-width: 110px;
  flex-direction: column;
}
.gt-view-cards-icons-item-inner-column > * {
  padding: 2px 5px;
  display: block;
  height: auto;
  width: 100%;
}
.gt-view-cards-icons-item-inner-column > *:first-child {
  padding-top: 5px;
}
.gt-view-cards-icons-item-inner-column > *:last-child {
  padding-bottom: 5px;
}
.gt-view-cards-icons-item-inner-line {
  align-items: center;
  min-width: 75px;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
}
.gt-view-cards-icons-item-inner-line > * {
  padding: 3px;
  display: inline-flex;
  height: auto;
  width: 100%;
  justify-content: center;
}
.gt-view-cards-icons-item-inner-line > *:first-child {
  padding-left: 5px;
}
.gt-view-cards-icons-item-inner-line > *:last-child {
  padding-right: 5px;
}
.gt-view-cards-icons-item.gt-view-cards-icons-item:last-child .gt-view-cards-icons-item-inner {
  left: auto;
  right: 0;
  transform: translateX(0);
}
.gt-view-cards-icons-item.gt-view-cards-icons-item:last-child .gt-view-cards-icons-item-inner:after {
  left: auto;
  right: 0;
  transform: translateX(0);
}
.gt-view-cards-icons-item.gt-active .gt-view-cards-icons-item-inner,
.gt-view-cards-icons-item:hover .gt-view-cards-icons-item-inner {
  overflow: visible;
  max-height: none;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gt-view-cards-icons-item.gt-active .gt-view-cards-icons-item-inner:before,
.gt-view-cards-icons-item:hover .gt-view-cards-icons-item-inner:before {
  min-height: 20px;
  min-width: 20px;
}
.gt-view-cards-icons-column {
  flex-direction: column;
  width: auto;
  height: 100%;
  justify-content: flex-start;
}
.gt-view-cards-icons-column .gt-view-cards-icons-item:after {
  left: auto;
  right: 0;
  transform: translateX(0);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item-inner {
  top: 50%;
  left: auto;
  right: 38px;
  transform: translateX(0);
  transform: translateY(-20%);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item-inner:after {
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.7);
  transform: translateX(0);
  transform: translateY(-50%);
  top: 20%;
  left: auto;
  right: -12px;
}
.gt-view-cards-icons-column .gt-view-cards-icons-item-inner:before {
  height: 100%;
  width: 0;
  left: auto;
  right: -20px;
  top: 0;
}
.gt-view-cards-icons-column .gt-view-cards-icons-item-inner-line {
  transform: translateY(-50%);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item-inner-line:after {
  top: 0;
  transform: translateY(0);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item.gt-view-cards-icons-item:last-child .gt-view-cards-icons-item-inner {
  left: auto;
  right: 38px;
  transform: translateX(0);
  transform: translateY(-80%);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item.gt-view-cards-icons-item:last-child .gt-view-cards-icons-item-inner:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: -12px;
  transform: translateY(-20%);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item.gt-view-cards-icons-item:last-child .gt-view-cards-icons-item-inner-line {
  transform: translateY(-50%);
}
.gt-view-cards-icons-column .gt-view-cards-icons-item.gt-view-cards-icons-item:last-child .gt-view-cards-icons-item-inner-line:after {
  top: 0;
  transform: translateY(0);
}
.gt-view-cards-icons-header {
  position: static;
  justify-content: flex-start;
  color: #fff;
  padding: 5px 0;
  margin-top: 35px;
}
.gt-view-cards-icons-header > div,
.gt-view-cards-icons-header > i {
  height: 40px;
  min-width: 40px;
  border-radius: 20px;
}
.gt-view-cards-icons-header > div.gt-active,
.gt-view-cards-icons-header > i.gt-active {
  border: 3px solid red;
}
