<div class="gt-slider-horizontal container test ">
    <div class="gt-slider-horizontal-container test1">
        <div class="gt-slider-horizontal-inner">
            <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            <div class="gt-slider-horizontal-inner-cover">
                <p>Париж</p>
            </div>
        </div>
  <div class="gt-slider-horizontal-inner">
            <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            <div class="gt-slider-horizontal-inner-cover">
                <p>Париж</p>
            </div>
        </div>
  <div class="gt-slider-horizontal-inner">
            <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            <div class="gt-slider-horizontal-inner-cover">
                <p>Париж</p>
            </div>
        </div>
  <div class="gt-slider-horizontal-inner">
            <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            <div class="gt-slider-horizontal-inner-cover">
                <p>Париж</p>
            </div>
        </div>
  <div class="gt-slider-horizontal-inner">
            <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            <div class="gt-slider-horizontal-inner-cover">
                <p>Париж</p>
            </div>
        </div>
  <div class="gt-slider-horizontal-inner">
            <div class="gt-img-holder" style="background-image: url('./img/gaudi_slider/sagrada-familya-25.png')"></div>
            <div class="gt-slider-horizontal-inner-cover">
                <p>Париж</p>
            </div>
        </div>









    </div>
</div>
