
<div class="gt-slider container">
    <p class="gt-blue">ПОДБОРКИ</p>
    <div class="gt-slider-container">
        <div class="gt-slider-inner">
            <div class="gt-slider-text">
                <h2 class="gt-slider-header gt-black">
                    Шедевры Антонио Гауди
                </h2>
                <p>
                    Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.
                </p>
            </div>
            <div class="gt-slider-img-holder gt-img-holder gt-shadow-70" style="background-image: url('./img/slider/slider_1.png')"></div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-slider-text">
                <h2 class="gt-slider-header gt-black">
                    Шедевры Антонио Гауди
                </h2>
                <p>
                   2_Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.
                </p>
            </div>
            <div class="gt-slider-img-holder gt-img-holder gt-shadow-70" style="background-image: url('./img/slider/slider_2.png')"></div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-slider-text">
                <h2 class="gt-slider-header gt-black">
                    Шедевры Антонио Гауди
                </h2>
                <p>
                    3_Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.
                </p>
            </div>
            <div class="gt-slider-img-holder gt-img-holder gt-shadow-70" style="background-image: url('./img/slider/slider_3.png')"></div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-slider-text">
                <h2 class="gt-slider-header gt-black">
                    Шедевры Антонио Гауди
                </h2>
                <p>
                    4_Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.
                </p>
            </div>
            <div class="gt-slider-img-holder gt-img-holder gt-shadow-70" style="background-image: url('./img/slider/slider_4.png')"></div>
        </div> <div class="gt-slider-inner">
            <div class="gt-slider-text">
                <h2 class="gt-slider-header gt-black">
                    Шедевры Антонио Гауди
                </h2>
                <p>
                    5_Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.
                </p>
            </div>
            <div class="gt-slider-img-holder gt-img-holder gt-shadow-70" style="background-image: url('./img/slider/slider_5.png')"></div>
        </div>
        <div class="gt-slider-inner">
            <div class="gt-slider-text">
                <h2 class="gt-slider-header gt-black">
                    Шедевры Антонио Гауди
                </h2>
                <p>
                    6_Антонио Гауди является величайшим представителей модерна, его исключительное новаторство сделало Гауди гением, изобретателем уникального, собственного и несравненного архитектурного языка, который не поддается классификации.
                </p>
            </div>
            <div class="gt-slider-img-holder gt-img-holder gt-shadow-70" style="background-image: url('./img/slider/slider_1.png')"></div>
        </div>
    </div>
</div>
