.action-menu-wrapper + .gt-slider {
  z-index: 5;
  margin-top: -100px;
}
.gt-slider {
  height: 560px;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.gt-slider > p {
  text-transform: uppercase;
  position: absolute;
  left: 15px;
  top: 165px;
}
.gt-slider h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 45px;
}
.gt-slider-container {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s 0.5s ease-in-out;
  -moz-transition: 1s 0.5s ease-in-out;
  -o-transition: 1s 0.5s ease-in-out;
  transition: 1s 0.5s ease-in-out;
}
.gt-slider-inner {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100%;
  padding: 0 15px;
}
.gt-slider-text {
  position: absolute;
  width: 100%;
  padding-right: 60%;
  left: 0;
  top: 200px;
  flex-direction: column;
  z-index: 10;
}
.gt-slider-text p {
  line-height: 23px;
}
.gt-slider-img-holder {
  float: right;
  width: 83%;
  height: 100%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
}
.gt-slider-img-holder:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 60%;
  background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
}
.gt-slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 83%;
  justify-content: center;
}
.gt-slider-nav span {
  cursor: pointer;
  display: flex;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 15px 11px;
}
.gt-slider-nav span.gt-active {
  background: #0057FF;
}
@media screen and (max-width: 1023px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -40px;
  }
  .gt-slider > p {
    top: 90px;
    left: 24px;
  }
  .gt-slider-text {
    top: 115px;
    left: 24px;
    padding-right: 50%;
  }
  .gt-slider-img-holder {
    width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -60px;
  }
  .gt-slider {
    height: 530px;
  }
  .gt-slider > p {
    top: 0px;
    left: 24px;
  }
  .gt-slider h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .gt-slider-container {
    margin-top: 170px;
    height: 350px;
  }
  .gt-slider-text {
    top: -140px;
    left: 24px;
    padding-right: 40%;
  }
  .gt-slider-img-holder {
    width: 85%;
  }
}
@media screen and (max-width: 666px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -40px;
  }
  .gt-slider {
    height: 430px;
  }
  .gt-slider-container {
    margin-top: 175px;
    height: 250px;
  }
  .gt-slider-text {
    padding-right: 20%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  }
  .gt-slider-img-holder {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .action-menu-wrapper + .gt-slider {
    margin-top: -20px;
  }
}
